@import "../../styles/variables";
@import "../../styles/mixins";

.playlist-view {
  padding: var(--section-gutter);
  overflow: auto;
  height: 100%;
  width: 100%;
  .playlist-header {
    margin-bottom: $mainUnit;
    .playlist-header-row {
      display: flex;
      flex-direction: row;
      .header-like,
      h1 {
        margin: 0;
        line-height: $mainUnit;
        font-size: 2rem;
        color: $highlightColor;
        font-weight: normal;
        letter-spacing: -.1rem;
      }
      h1 {
        flex: 1;
        margin-right: 3 * $mainUnit;
        transition: background-color .3s ease-in;
        &:focus{
          border-bottom: 1px solid $mainColor;
          margin-bottom: -1px;
          background-color: $backgroundLightColor;
        }
      }
      .header-like {
        color: $lightColor;
        margin-right: .5rem;
      }
    }
    .playlist-view-actions{
      position: fixed;
      top: var(--section-gutter);
      right: var(--section-gutter);
      @media (max-width: $miniWindowThreshold) {
        display: none;
      }
      .playlist-view-action-button {
        margin: 0 0 0 .5rem;
        padding: 0;
        background: transparent;
        border: none;
        font-size: 2rem;
        color: $lightColor;
        transition: color .3s ease-in-out;
        &.is-current,
        &.is-current:hover {
          color: $mainColor;
        }
        &:hover {
          color: $highlightColor;
        }
      }
    }
  }
  .album-list {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      margin: 0;
    }
  }
}
