@import "../../styles/variables";
@import "../../styles/mixins";

.playlist-view {
  @include fadeInOut();
  overflow: auto;
  height: 100%;
  width: 100%;
  display: flex;
  @media (max-width: $miniWindowThreshold) {
    flex-direction: column-reverse;
  }
  .album-list-wrapper {
    width: calc(100% / 3);
    height: 100%;
    overflow: auto;
    border-right: 1px solid $darkColor;
    @media (max-width: $smallWindowThreshold) {
      width: calc(100% / 2);
      max-width: 100%;
  	}
    @media (max-width: $miniWindowThreshold) {
      width: 100%;
      height: 50%;
    }
    .sizer-wrapper {
      // viewport - header - player - table header - title
      height: calc(100vh - #{$headerHeight} - #{$playerHeight});
      @media (max-width: $miniWindowThreshold) {
        // viewport - player - searchbar - title
        height: 100%;
      }
    }
  }
  .album-detail-wrapper {
    width: calc(100% / 1.5);
    @media (max-width: $smallWindowThreshold) {
      width: calc(100% / 2);
    }
    @media (max-width: $miniWindowThreshold) {
      width: 100%;
      height: 50%;
      border-bottom: 1px solid $darkColor;
    }
  }
  .playlist-empty-placeholder {
    @include emptyComponent();
    flex: 1;
  }
}
