@import "../../styles/variables";
@import "../../styles/mixins";

.playlist-view {
  padding: var(--section-gutter) 0 0 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  @include fadeInOut();
  .album-list {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      margin: 0;
      &:last-child{
        margin-bottom: var(--section-gutter);
      }
    }
  }
  .playlist-empty-placeholder {
    @include emptyComponent();
  }
}
