@import "../../variables";
@import "../../mixins";

.playlist-view {
  padding: $gutterBig;
  overflow: auto;
  height: 100vh;
  .playlist-header {
    display: flex;
    flex-direction: row;
    margin-bottom: $gutterBig;
    h1 {
      margin: 0;
      line-height: 3.8rem;
      font-size: 2.4rem;
      color: $highlightColor;
    }
    .playlist-header-form {
      margin: 0;
      flex: 1;
      .playlist-header-form-input {
        @include input();
        margin-bottom: 0;
      }
    }
    .playlist-header-actions {
      margin-left: auto;
      button {
        margin: 0 1rem 0 0;
      }
    }
  }
  .album-list {
    list-style: none;
    > li {
      margin-bottom: $gutterBig;
    }
  }
}
