<footer class="footer w-100 f6 tc ph3 ph0-ns pv3 pv4-ns bg-dark-gray white">
  <div class="w-80-ns center cf">
    <p class="fl-ns">
      &copy; {{ {} | format('YYYY') }} made w/
      <a href="{{ config.links.waffel }}" target="_blank" class="link white underline">waffel</a> and love by
      <a href="{{ config.links.author }}" target="_blank" class="link white underline">Diego Caponera</a>.
    </p>
    <p class="fr-ns">
      <a href="{{ config.links.github }}" target="_blank" class="link white underline">Github</a> /
      <a href="{{ config.links.github }}/issues" target="_blank" class="link white underline">Issues</a> /
      <a href="{{ config.links.github }}/releases" target="_blank" class="link white underline">Releases</a>
    </p>
  </div>
</footer>
