<footer class="footer w-100 f6 ph3 ph0-ns pv3 pt4-ns pb5-ns bg-dark-gray light-silver">
  <div class="w-80-ns center">
    <p class="bb lh-copy pb4">
      &copy; {{ {} | format('YYYY') }} made with
      <a href="{{ config.links.waffel }}" target="_blank" class="link light-silver hover-white underline">waffel</a>,
      <a href="{{ config.links.tachyons }}" target="_blank" class="link light-silver hover-white underline">tachyons</a> and love by
      <a href="{{ config.links.author.site }}" target="_blank" class="link light-silver hover-white underline">Diego Caponera</a>.
    </p>
    <div class="lh-copy cf">
    <p class="fl">
      <a href="#top" class="link light-silver hover-white underline">Back to top</a>
    </p>
    <p class="fr">
      <a href="{{ config.links.github }}" target="_blank" class="link light-silver hover-white underline">Github</a> /
      <a href="{{ config.links.github }}/issues" target="_blank" class="link light-silver hover-white underline">Issues</a> /
      <a href="{{ config.links.github }}/releases" target="_blank" class="link light-silver hover-white underline">Releases</a>
    </p>
  </div>
</footer>
