<footer class="footer w-100 f6 ph3 ph0-ns pv3 pt4-ns pb5-ns bg-dark-gray white">
  <div class="w-80-ns center">
    <p class="bb lh-copy pb4">
      &copy; {{ {} | format('YYYY') }} made with
      <a href="{{ config.links.waffel }}" target="_blank" class="link white underline">waffel</a>,
      <a href="{{ config.links.tachyons }}" target="_blank" class="link white underline">tachyons</a> and love by
      <a href="{{ config.links.author }}" target="_blank" class="link white underline">Diego Caponera</a>.
    </p>
    <p class="lh-copy pt3 tr">
      <a href="{{ config.links.github }}" target="_blank" class="link white underline">Github</a> /
      <a href="{{ config.links.github }}/issues" target="_blank" class="link white underline">Issues</a> /
      <a href="{{ config.links.github }}/releases" target="_blank" class="link white underline">Releases</a>
    </p>
  </div>
</footer>
