@import "../../../styles/variables";

.sidebar-playlist-list {
  h2 {
    height: $mainUnit;
    line-height: $mainUnit;
    padding: 0 $mainUnit;
    margin: 0;
    font-family: 'Inter UI', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: $highlightColor;
    letter-spacing: .01em;
    text-transform: uppercase;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    .playlist {
      height: $mainUnit;
      line-height: $mainUnit;
      vertical-align: middle;
      margin: 0;
      &.drag-is-over {
        background-color: $highlightColor;
        .sidebar-playlist-item {
          color: $darkColor;
        }
      }
      &.is-current {
        .sidebar-playlist-item {
          font-weight: bold;
        }
      }
      &.is-playing {
        .sidebar-playlist-item {
          color: $mainColor;
        }
      }
      .sidebar-playlist-item {
        display: block;
        padding: 0 $mainUnit;
        color: $lightColor;
        transition: color .3s ease-in-out;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;        
        &:hover {
          text-decoration: underline;
        }
        .playlist-icon{
          margin-right: 1rem;
        }
      }
    }
  }
}
