@import "../../../styles/variables";

.sidebar-playlist-list {
  h2 {
    height: $mainUnit;
    line-height: $mainUnit;
    padding: 0 $mainUnit;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: $highlightColor;
    letter-spacing: .01em;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    .playlist {
      height: $mainUnit;
      line-height: $mainUnit;
      vertical-align: middle;
      margin: 0;
      &.drag-is-over {
        background-color: $highlightColor;
      }
      &.drag-can-drop {

      }
      &.current {
        a {
          font-weight: bold;
        }
      }
      .sidebar-playlist-item {
        display: block;
        padding: 0 $mainUnit;
        color: $clearColor;
        &-active, &:hover {
          color: $mainColor;
          background-color: $clearColor;
        }
      }
    }
  }
}
