@import "../../../styles/variables";
@import "../../../styles/mixins";

.library-artists {
  opacity: 1;
  transition: opacity .3s ease-in-out;
  min-height: 100vh;
  &.loading {
    opacity: 0;
  }
  .alphabet {
    @include monospace();
    position: sticky;
    top: calc(var(--section-gutter) * -1);
    margin: 0 0 2rem 0;
    padding: 0 var(--section-gutter);
    list-style: none;
    font-size: 1.5rem;
    line-height: $mainUnit;
    background-color: $backgroundDarkColor;
    text-align: center;
    border-left: 1px solid $backgroundColor;
    li {
      display: inline-block;
      padding: 0 1rem;
      text-transform: uppercase;
      &.selected {
        a, a:hover {
          color: $mainColor;
        }
      }
      a {
        color: $lightColor;
        &:hover {
          color: $highlightColor;
        }
      }
    }
  }
  .artist-list {
    margin: 0;
    padding: 0 var(--section-gutter);
    list-style: none;
    @include clearFix();
    li {
      float: left;
      width: calc(100% / 5);
      @media (min-width: $wideWindowThreshold) {
        width: calc(100% / 7);
      }
      @media (max-width: $smallWindowThreshold) {
        width: calc(100% / 3);
      }
      @media (max-width: $miniWindowThreshold) {
        width: calc(100% / 2);
      }
      .artist-list-item {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 1rem 0;
        background-color: rgba($backgroundDarkColor, .4);
        border-radius: .5rem;
        border: 1px solid rgba($highlightColor, .1);
        color: $lightColor;
        font-size: .9rem;
        .img-wrapper {
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          border-top-left-radius: .25rem;
          border-top-right-radius: .25rem;
          background-color: $backgroundDarkColor;
        }
        .artist-name {
          @include ellipsis(100%);
          width: 100%;
          padding: 1rem;
          letter-spacing: .01rem;
        }
        &:hover {
          transition: background-color .2s ease-in-out;
          background-color: $backgroundDarkColor;
        }
      }
    }
  }
}
