@import "../../../styles/variables";
@import "../../../styles/mixins";

.library-artists {
  h2 {
    font-size: 2em;
    color: $highlightColor;
    line-height: $mainUnit;
  }
  .alphabet {
    @include monospace();
    margin: 0 0 2rem 0;
    padding: 0;
    list-style: none;
    font-size: 1.5rem;
    line-height: $mainUnit;
    li {
      display: inline-block;
      padding: 0 1rem;
      text-transform: uppercase;
      &.selected {
        a, a:hover {
          color: $mainColor;
        }
      }
      a {
        color: $lightColor;
        &:hover {
          color: $highlightColor;
        }
      }
    }
  }
  .artist-list {
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearFix();
    li {
      float: left;
      width: calc(100% / 3);
      @media (min-width: $wideWindowThreshold) {
        width: calc(100% / 4);
      }
      @media (max-width: $smallWindowThreshold) {
        width: calc(100% / 2);
      }
      @media (max-width: $miniWindowThreshold) {
        width: 100%;
      }
      .artist-list-item {
        display: flex;
        padding: 1.5rem 1rem;
        margin: 0 1rem 1rem 0;
        background-color: rgba($backgroundDarkColor, .4);
        border-radius: 1rem;
        color: $lightColor;
        .artist-name {
          @include ellipsis(100%);
        }
        &:hover {
          transition: background-color .2s ease-in-out;
          background-color: $backgroundDarkColor;
          .artist-name {
            text-decoration: underline;
          }
        }
        .release-count {
          margin-left: auto;
          color: darken($lightColor, 30%);
        }
      }
    }
  }
}
