.view {
  list-style: none;
  display: flex;
  font-size: 0.8rem;
  line-height: 1rem;
  &.isDetailPage {
    li:not(:last-of-type):after {
      font-size: 0.8rem;
    }
  }
  li {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
      padding-right: 0.5rem;
      &:after {
        color: var(--tertiary-color);
        content: "/";
        font-size: 1.2rem;
        margin-left: 0.5rem;
      }
    }
  }
}

.breadCrumb {
  font-size: 0.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sidebar-nav-button-background-color);
  color: var(--primary-color);
  border-radius: 0.25rem;
  appearance: none;
  border: none;
  padding: 0 0.5rem;

  &.isDetailPage {
    padding: 0;
    background-color: transparent;
  }

  &.useDarkText {
    background-color: transparent;
    color: black;
  }

  a {
    display: flex;
    align-items: center;
    height: 1.5rem;
  }

  &:not(:has(a)) {
    background-color: var(--accent-color);
    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    text-decoration: underline;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    @media (max-width: 768px) {
      display: inline-block;
      max-width: 15rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      span:last-of-type {
        display: none;
      }
    }
  }
}
