.EntityList {
  display: flex;
  gap: .25rem;
  font-size: .8rem;
  font-weight: 300;
  color: var(--primary-color);

  &.useDarkText {
    color: black;
  }

  ul {
    list-style: none;
    display: flex;
    gap: .25rem;

    li a {
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }

    li:not(:last-child)::after {
      content: ','
    }
  }
}