.EntityList {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--primary-color);
  white-space: nowrap;

  &.useDarkText {
    color: black;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 0.25rem;

    .item {
      display: flex;
      align-items: center;

      .removeButton {
        color: var(--secondary-color);
        background-color: transparent;
        border: none;
        appearance: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 1.5rem;
        font-size: 1rem;
        svg {
          transition:
            scale 0.2s ease-in-out,
            color 0.2s ease-in-out;
        }
        &:hover svg {
          scale: 1.2;
          color: var(--primary-color);
        }
      }

      &.textOnly {
        .removeButton {
          display: none;
        }
        &:hover {
          .removeButton {
            display: flex;
          }
        }
        &:not(:last-child)::after {
          content: ",";
        }
      }
    }
  }
}

.link {
  letter-spacing: -0.035rem;

  &:hover {
    text-decoration: underline;
  }
}

.separator::after {
  content: "|";
  font-family: Courier, monospace;
}
