.EntityList {
  display: flex;
  gap: .25rem;
  font-size: .8rem;
  font-weight: 300;
  color: var(--primary-color);
  line-height: 1rem;

  &.useDarkText {
    color: black;
  }

  ul {
    list-style: none;
    display: flex;
    gap: .25rem;

    li {
      display: flex;
      align-items: center;

      .CornerActionButton {
        display: none;
        position: static;
        color: var(--secondary-color);
        margin: 0 .25rem;
      }

      &:hover .CornerActionButton {
        display: initial;
      }

      &:not(:last-child)::after {
        content: ',';
      }
    }
  }
}

.link {
  font-weight: 700;
  letter-spacing: -.035rem;

  &:hover {
    text-decoration: underline;
  }
}

.separator::after {
  content: '|';
  font-family: Courier, monospace;
}