.listCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 0.25rem;
  opacity: 0;

  &.hideCover {
    padding: 1rem 2rem;
    border-bottom: none;
  }

  &.loaded {
    opacity: 1;
  }

  &:has(.multipleCovers.isHover) {
    overflow-x: auto;

    .content {
      transform: translateY(calc(var(--release-group-height) * -1));
      transition-delay: 0s;
    }
  }

  &.canDrop {
    background-color: var(--accent-color-light);
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-repeat: no-repeat;
      background-image: linear-gradient(
        90deg,
        transparent 0%,
        var(--droppable-glow-color) 50%,
        transparent 100%
      );
      transform: translateX(-100%);
      animation-name: canDrop;
      animation-direction: normal;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes canDrop {
  100% {
    transform: translateX(100%);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  transition: transform 0.3s ease-in-out;
  transition-delay: 0.2s;
}

.title {
  font-size: 0.9rem;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: -0.035rem;
  text-wrap: balance;

  &:hover {
    text-decoration: underline;
  }
}

.artist {
  font-size: 0.9rem;
  line-height: 0.9rem;
  letter-spacing: -0.025rem;
  color: var(--primary-color);
  text-wrap: balance;

  &:hover {
    text-decoration: underline;
  }
}

.isSingle {
  border-radius: 0;
  border-bottom: 0.5px solid var(--neutral-border-color);

  .content {
    margin-top: 1rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .artist {
    font-size: 1.2rem;
  }

  .cover,
  .ghost {
    width: var(--release-tracklist-single-cover-size);
    height: var(--release-tracklist-single-cover-size);
  }
}

.info {
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-wrap: wrap;
  &.isInline {
    flex-wrap: nowrap;
  }
}

.useDarkText {
  .title,
  .artist,
  .info {
    color: black;
  }
}

.cover,
.ghost {
  width: var(--release-group-height);
  height: var(--release-group-height);
  border-right: 1px solid var(--neutral-border-color);
  border-radius: 0;
  z-index: 1;
}

.hasFocus {
  box-shadow: var(--accent-color) 0px 0px 0px 0.25rem;
}

.releaseDuration,
.trackCount {
  &::before {
    content: "·";
    margin-right: 0.25rem;
  }
}

.releaseDurationBlock {
  width: 8rem;
}

.multipleCovers {
  height: var(--release-group-height);
  position: relative;

  .cover:not(:first-of-type) {
    position: absolute;
    top: 0;
    left: 0;
  }

  .cover:nth-child(1) {
    scale: 1;
    transition: scale 0.2s ease-in-out;
  }

  .cover:nth-child(2) {
    transition:
      transform 0.2s ease-in-out,
      scale 0.2s ease-in-out;
  }

  .cover:nth-child(3) {
    transition:
      transform 0.3s ease-in-out,
      scale 0.2s ease-in-out;
  }

  .cover:nth-child(4) {
    transition:
      transform 0.4s ease-in-out,
      scale 0.2s ease-in-out;
  }

  .cover:nth-child(5) {
    transition:
      transform 0.5s ease-in-out,
      scale 0.2s ease-in-out;
  }

  .cover:nth-child(6) {
    transition:
      transform 0.6s ease-in-out,
      scale 0.2s ease-in-out;
  }

  .cover:nth-child(7) {
    transition:
      transform 0.7s ease-in-out,
      scale 0.2s ease-in-out;
  }

  .cover:nth-child(8) {
    transition:
      transform 0.8s ease-in-out,
      scale 0.2s ease-in-out;
  }

  &.isHover {
    .cover {
      scale: 0.9;
      border-radius: 0.15rem;

      &:hover {
        opacity: 0.9;
      }
    }

    .cover:nth-child(2) {
      transform: translateX(
        calc(var(--release-group-height) + var(--multiple-covers-gap))
      );
      scale: 0.9;
    }

    .cover:nth-child(3) {
      transform: translateX(
        calc(2 * (var(--release-group-height) + var(--multiple-covers-gap)))
      );
      scale: 0.9;
    }

    .cover:nth-child(4) {
      transform: translateX(
        calc(3 * (var(--release-group-height) + var(--multiple-covers-gap)))
      );
      scale: 0.9;
    }

    .cover:nth-child(5) {
      transform: translateX(
        calc(4 * (var(--release-group-height) + var(--multiple-covers-gap)))
      );
      scale: 0.9;
    }

    .cover:nth-child(6) {
      transform: translateX(
        calc(5 * (var(--release-group-height) + var(--multiple-covers-gap)))
      );
      scale: 0.9;
    }

    .cover:nth-child(7) {
      transform: translateX(
        calc(6 * (var(--release-group-height) + var(--multiple-covers-gap)))
      );
      scale: 0.9;
    }

    .cover:nth-child(8) {
      transform: translateX(
        calc(7 * (var(--release-group-height) + var(--multiple-covers-gap)))
      );
      scale: 0.9;
    }
  }
}
