.listCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.1s ease-in-out,
    opacity 0.2s ease-in-out;
  overflow: hidden;
  border-radius: 0.25rem;
  background-color: var(--default-listcard-background-color);
  padding-right: 0.5rem;
  &:hover {
    opacity: 0.9;
    .contextMenu {
      visibility: visible;
    }
    .cover,
    .ghost {
      border-radius: 0.25rem;
    }
  }
}

.slidingCards {
  flex: 1;
}

.slidingCardsContent {
  flex: 1;
  display: flex;
  align-items: center;
}

.contextMenu {
  margin-left: auto;
  visibility: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  transition: transform 0.3s ease-in-out;
  transition-delay: 0.2s;
}

.title {
  font-size: 0.9rem;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: -0.035rem;
  text-wrap: balance;

  &:is(a):hover {
    text-decoration: underline;
  }
}

.artist {
  font-size: 0.9rem;
  line-height: 0.9rem;
  letter-spacing: -0.025rem;
  color: var(--primary-color);
  text-wrap: balance;
  font-weight: normal;

  &:hover {
    text-decoration: underline;
  }
}

.singleArtistList {
  height: 1.2rem;
}

.singleArtist {
  font-size: 1.2rem;

  .link {
    font-weight: normal;
  }

  &:hover {
    text-decoration: underline;
  }
}

.isArtist {
  .content {
    gap: 0.75rem;
  }
}

.info {
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
  user-select: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  &.isInline {
    flex-wrap: nowrap;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
}

.useDarkText {
  .title,
  .artist,
  .info {
    color: black;
  }
}

.cover,
.ghost {
  width: var(--release-group-height);
  height: var(--release-group-height);
  border-right: 1px solid var(--neutral-border-color);
  border-radius: 0;
  z-index: 1;
}

.hasFocus {
  box-shadow: var(--accent-color) 0px 0px 0px 0.25rem;
}

.releaseDuration,
.trackCount {
  &::before {
    content: "·";
    margin-right: 0.25rem;
  }
}

.releaseDurationBlock {
  width: 8rem;
}

.entityList {
  ul {
    gap: 0.5rem;
    li:not(:last-child)::after {
      content: "";
    }
  }
}

.entityListEntry {
  background-color: var(--accent-color);
  height: 1.5rem;
  padding-left: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: -0.035rem;
}

.listInfo {
  display: flex;
  align-items: center;
  gap: 2rem;
}
