.view {
  background-color: var(--sidebar-background-color);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input {
  border-radius: .25rem;
  border: 1px solid var(--tertiary-color);
  background-color: var(--background-color);
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  margin: 1rem;
  color: var(--primary-color);
}

.input:focus {
  outline-color: var(--accent-color);
}

.listWrapper {
  height: calc(100vh - 10.5rem);
  overflow: auto;
}

.listItem {
  font-size: .8rem;
  height: var(--search-results-size);
  display: flex;
  align-items: center;
  gap: .75rem;
  margin: 0 1rem;
  background-color: var(--search-results-background-color);
  border-radius: .25rem;
  padding-right: 1rem;
  overflow: hidden;

  &:hover {
    background-color: var(--search-results-background-color-light);
  }

  &.isDraggable {
    padding-right: 0
  }

  &.selected {
    background-color: var(--selected-no-focus-color);
  }

  &.hasFocus {
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-light);
    }
  }
}

.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.title {
  color: var(--primary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.title:hover {
  text-decoration: underline;
}

.type {
  color: var(--secondary-color);
  text-transform: capitalize;
  font-size: .75rem;
  font-weight: 300;
  user-select: none;
}

.noResults {
  flex: 1;
  color: var(--secondary-color);
  font-size: .8rem;
  line-height: 2rem;
  display: flex;
  align-items: start;
  padding: 0 1rem;
}

.footer {
  font-size: .7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  padding: 0 .5rem;
  margin: .5rem;
  color: var(--sidebar-secondary-color);
  border-radius: .25rem;
  background-color: var(--background-color);
  user-select: none;
}

.coverWrapper,
.ghost {
  height: var(--search-results-size);
  width: var(--search-results-size);
  border-radius: 0;
}

.ghost {
  flex-shrink: 0;
  align-self: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.loaded {
  opacity: 1;
}

.count {
  color: var(--primary-color);
  font-weight: normal;
}

.trackArtist {
  color: var(--primary-color);

  &:hover {
    text-decoration: underline;
  }
}

.dragHandle {
  margin-left: auto;
  flex-shrink: 0;
}

.showMore {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--secondary-color);
  background-color: var(--background-color);
  font-size: .7rem;
  height: 2rem;
  margin: .5rem 1rem;
  padding: 0 1rem;
  border-radius: .25rem;
  appearance: none;
  border: none;
  margin-left: auto;

  &:hover {
    opacity: .8;
  }
}