.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: .25rem;
}

.entries {
  margin-right: 1rem;
  width: var(--navbar-width);
  border-radius: .5rem;
  overflow: hidden;
  border: 1px solid var(--tertiary-color);
  background-color: var(--background-color);
  display: none;
}

.isOpen .entries {
  display: block;
}

.entries a {
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 0.8rem;
}

.entries a:hover {
  background-color: var(--accent-color);
}

.button {
  margin: .75rem .75rem 0 0;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  padding: 0;
  color: var(--primary-color);
  background-color: transparent;
  border-radius: .15rem;
}

.button:hover {
  background-color: var(--tertiary-color);
}