.nav {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

.nav a {
  line-height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 0.8rem;
}

.nav a:hover {
  background-color: var(--accent-color);
}