.Placeholder {
  font-size: .8rem;
  color: var(--secondary-color);
  height: calc(var(--related-artists-cover-size) + 3.5rem);
}

.ArtistListWrapper {
  width: 100%;
  overflow: auto;
  padding-top: 1.5rem;
  margin-top: -1.5rem;
}

.ArtistList {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.ArtistCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  text-align: center;
  border-radius: .25rem;
  padding: .5rem;
  background-color: var(--tertiary-color);
  height: 100%;
  width: min-content;
}

.ArtistCardTitle {
  font-size: .7rem;
  line-height: 1rem;
  height: 2rem;
}

.ArtistCardCover {
  width: var(--related-artists-cover-size);
  height: var(--related-artists-cover-size);
}