.releaseView {
  background-color: var(--release-view-background-color);
  border-radius: 0.25rem;
  padding: .75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  color: black;

  &:hover {
    background-color: var(--release-view-background-color-light);
  }

  &.hasFocus {
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-light);
    }

    .title,
    .info {
      color: var(--primary-color);
    }
  }
}

.view>* {
  margin: 0;
}

.coverWrapper {
  flex: 1;
}

.loaded {
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.artist {
  color: var(--primary-color);
  font-size: .8rem;
  font-weight: bold;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: min-content;
  max-width: 100%;
}

.title {
  color: var(--secondary-color);
  font-size: .8rem;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: min-content;
  max-width: 100%;
}

.info {
  color: var(--secondary-color);
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

.artist:hover,
.title:hover {
  text-decoration: underline;
}

.selected {
  background-color: var(--selected-no-focus-color);
}