.releaseView {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: .25rem;
  padding: 1rem;
  background-color: var(--release-view-background-color);
}

.isSingle {
  margin-top: 1rem;
  background-color: transparent;
  padding: 0 1rem;
}

.header {
  display: flex;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .25rem;
}

.content a:hover {
  text-decoration: underline;
}

.title {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: bold;
}

.artist {
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.info {
  line-height: 1rem;
  font-size: .8rem;
  color: var(--secondary-color);
}

.cover {
  width: var(--release-tracklist-list-cover-size);
  height: var(--release-tracklist-list-cover-size);
}

.isSingle .cover {
  width: var(--release-tracklist-single-cover-size);
  height: var(--release-tracklist-single-cover-size);
}