.view {
  background-color: var(--release-group-background-color);
  border-radius: 0.25rem;
  padding: .5rem .75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  height: 100%;
  color: black;
  max-width: 100%;
}

.view>* {
  margin: 0;
}

.title {
  color: var(--primary-color);
  font-size: .75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.count {
  color: var(--secondary-color);
  font-size: .7rem;
  flex-shrink: 0;
}

.title a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.title a:hover {
  text-decoration: underline;
}

.ghost {
  width: 100%;
  aspect-ratio: 1/1;
  align-self: center;
  flex: 1;
  overflow: hidden;
  border-radius: .25rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.releases {
  margin: 0;
  padding: 0;
  display: flex;
  gap: .5rem;
  list-style: none;
}

.releases li {
  flex: 1;
}