.list {
  height: calc(100vh - var(--header-height));
  overflow: auto;
  max-width: 100vw;
  padding-left: 1rem;
  padding-right: 0;
}

.grid {
  padding-left: 1rem;
  padding-right: 0;
}

.compact {
  padding-left: 1rem;
  padding-right: 0;
}