.releaseView {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: .25rem;
  overflow: hidden;
}

.isSingle {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.header {
  display: flex;
  gap: 1rem;
  transition: background-color .3s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .25rem;
}

.content a:hover {
  text-decoration: underline;
}

.title {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: bold;
}

.artist {
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.info {
  line-height: 1rem;
  font-size: .8rem;
  color: var(--secondary-color);
}

.useDarkText .title,
.useDarkText .artist,
.useDarkText .info {
  color: black;
}

.cover {
  width: var(--release-tracklist-list-cover-size);
  height: var(--release-tracklist-list-cover-size);
  border-right: 1px solid rgba(100, 100, 100, 0.4);
  border-radius: 0;
}

.isSingle .cover {
  width: var(--release-tracklist-single-cover-size);
  height: var(--release-tracklist-single-cover-size);
}

.hasFocus {
  outline: 2px var(--accent-color) solid;
}