.view {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.input {
  flex: 1;
  border-radius: 0.25rem;
  border: 1px solid var(--tertiary-color);
  background-color: var(--background-color);
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: var(--primary-color);
  &:focus {
    outline-color: var(--accent-color);
  }
}

.searchResultsView {
  display: flex;
  gap: 2rem;
  section {
    flex: 1;
    max-height: 75vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3 {
      text-transform: capitalize;
    }
  }
}

.listWrapper {
  height: calc(100vh - 10.5rem - var(--header-height));
  overflow: auto;
}

.listItem {
  font-size: 0.8rem;
  height: var(--search-results-size);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0;
  background-color: var(--search-results-background-color);
  border-radius: 0.25rem;
  padding-right: 1rem;
  overflow: hidden;

  &:hover {
    background-color: var(--search-results-background-color-light);
  }

  &.isDraggable {
    padding-right: 0;
  }

  &.selected {
    background-color: var(--selected-no-focus-color);
  }

  &.hasFocus {
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-light);
    }
  }
}

.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  color: var(--primary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.title:hover {
  text-decoration: underline;
}

.type {
  color: var(--secondary-color);
  font-size: 0.75rem;
  font-weight: 300;
  user-select: none;
}

.resultType {
  padding: 0 1rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noResults {
  flex: 1;
  color: var(--secondary-color);
  font-size: 0.8rem;
  line-height: 2rem;
  display: flex;
  align-items: start;
  padding: 0 1rem;
}

.coverWrapper,
.ghost {
  height: var(--search-results-size);
  width: var(--search-results-size);
  border-radius: 0;
}

.ghost {
  flex-shrink: 0;
  align-self: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.loaded {
  opacity: 1;
}

.count {
  color: var(--primary-color);
  font-weight: normal;
}

.trackArtist {
  color: var(--primary-color);

  &:hover {
    text-decoration: underline;
  }
}

.dragHandle {
  margin-left: auto;
  flex-shrink: 0;
}

.showAll {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--secondary-color);
  background-color: var(--background-color);
  font-size: 0.7rem;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
  appearance: none;
  border: none;
  height: 1.2rem;

  &:hover {
    opacity: 0.8;
  }
}
