.view {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: black;

  h2 {
    user-select: none;
  }
}

.fileButton {
  background-color: var(--background-color);
  border: 1px solid var(--tertiary-color);
  font-size: 1rem;
  border-radius: 0.25rem;
}
