.view {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input {
  border-radius: .25rem;
  border: 1px solid var(--tertiary-color);
  background-color: var(--background-color);
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  margin: 0 .5rem .5rem .5rem;
  color: var(--primary-color);
}

.input:focus {
  outline-color: var(--accent-color);
}

.title {
  height: 2rem;
  display: flex;
  align-items: center;
  font-size: .9rem;
  padding: 0 1rem;
  text-transform: capitalize;
}

.listWrapper {
  height: calc(100vh - 9rem);
  overflow: auto;
}

.listItem {
  font-size: .8rem;
  font-weight: 300;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: #eeeeee;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 1rem;
  user-select: none;

  &:hover {
    background-color: var(--sidebar-secondary-color);
  }

  &.selected {
    background-color: var(--selected-no-focus-color);
  }

  &.hasFocus {
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-light);
    }
  }
}

.noResults {
  flex: 1;
  color: var(--secondary-color);
  font-size: .8rem;
  line-height: 2rem;
  display: flex;
  align-items: start;
  padding: 0 1rem;
}

.footer {
  font-size: .7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  padding: 0 .5rem;
  margin: .5rem;
  color: var(--sidebar-secondary-color);
  border-radius: .25rem;
  background-color: var(--background-color);
  user-select: none;
}

.count {
  color: var(--primary-color);
  font-weight: normal;
}