.view {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  h2 {
    user-select: none;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.view > * {
  margin: 0;
}

.stats {
  display: flex;
  font-size: 0.9rem;
  list-style: none;
  gap: 1rem;

  li {
    flex: 1;
    .entry {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      background-color: var(--background-color-light);
      border-radius: 0.25rem;
      span {
        &:first-child {
          text-transform: capitalize;
          font-weight: bold;
        }
        &:last-child {
          color: var(--secondary-color);
        }
      }
      &:is(a):hover {
        background-color: var(--accent-color);
      }
    }
  }
}
