.tracklist {
  flex: 1;
}

.isNavigable {
  max-height: calc(100vh - 11rem);
  overflow: auto;
  padding: 0 1rem;
}

.tracklist:not(.isNavigable) {
  column-fill: auto;
  overflow-y: auto;
  gap: 4px;
}

.tracklist:not(.isNavigable) .firstTrack {
  break-before: column;
}

.tracklist:not(.isNavigable) .tracklistEntry:not(:last-child) {
  margin-bottom: 4px;
}

.tracklistEntry {
  line-height: 2.5rem;
  font-size: .8rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0 .5rem;
  border-radius: .25rem;

  &:hover {
    background-color: var(--tertiary-color);

    .position {
      color: var(--secondary-color);
    }
  }
}

.tracklistEntry:hover .selected,
.selected:hover {
  background-color: var(--accent-color);
}

.even {
  background-color: var(--tracklist-entry-alternate-background-color);
}

.firstTrack {
  margin-top: 1.5rem;
}

.position {
  color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  width: 2ch;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.duration {
  margin-left: auto;
  color: var(--secondary-color);
  font-size: .75rem;
}