.tracklist {
  flex: 1;
}

.isNavigable {
  max-height: calc(100vh - 15rem);
  overflow: auto;
}

.tracklist:not(.isNavigable) {
  column-fill: auto;
  overflow-y: auto;
}

.tracklist:not(.isNavigable) .firstTrack {
  break-before: column;
}

.tracklistEntry {
  line-height: 1.5rem;
  font-size: .9rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0 .5rem;
  border-radius: .25rem;
}

.firstTrack {
  margin-top: 1.5rem;
}

.count {
  color: var(--secondary-color);
}

.selected {
  background-color: var(--accent-color);
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.duration {
  margin-left: auto;
  color: var(--secondary-color);
  font-size: .75rem;
}