.view {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: black;

  h2,
  h3 {
    user-select: none;
  }
}

.label {
  flex: 1;

  &.vertical {
    .input {
      width: 100%;
    }
  }
}

.lookupView {
  flex: 1;
}
