@import "../../../styles/variables";
@import "../../../styles/mixins";

.app-header {
	height: $headerHeight;
	line-height: $headerHeight;
	border-bottom: 1px solid $darkColor;
	display: flex;
	align-items: center;
	justify-content: space-between;
	h1 {
		color: $lightColor;
		font-size: 1.2rem;
		@include ellipsis(50vw);
		text-align: center;
	}

	.app-header-left-wrapper {
		display: flex;
		margin-left: 2 * $mainUnit;
    .search-form {
      .button-search {
        width: auto;
        padding: 0 .5rem;
        &:hover {
          border-color: $mainColor;
        }
      }
    }
		.button-library,
		.button-queue {
			padding: 0 1rem;
			margin-left: 1rem;
	    &.drag-is-over.drag-can-drop {
	      transition: .3s background-color ease-in-out;
	      background-color: $highlightColor;
	      color: $mainColor;
		  }
		}
		.button-drag-wrapper {
			display: flex;
		}
  }

	.app-header-right-wrapper {
		display: flex;
		margin-right: 1rem;
		.button-add-album {
			padding: 0 1rem;
			opacity: 0;
			transition: opacity .2s ease-in-out;
			&.visible {
				opacity: 1;
			}
		}
	}
}
