@import "../../../styles/variables";
@import "../../../styles/mixins";

.app-header {
	height: $headerHeight;
	line-height: $headerHeight;
	border-bottom: 1px solid $darkColor;
	display: flex;
	align-items: center;
	justify-content: space-between;
	h1 {
		color: $lightColor;
		font-size: 1.2rem;
		@include ellipsis(50vw);
		text-align: center;
	}
	.button-add-album {
		padding: 0 1rem;
		margin-right: 1rem;
	}
	.search-form-wrapper {
		margin-left: 2 * $mainUnit;
    .search-form {
      .button-search {
        width: auto;
        padding: 0 .5rem;
        &:hover {
          border-color: $mainColor;
        }
      }
    }
  }
}
