.view {
  list-style: none;
  display: flex;
  font-size: 0.8rem;
  line-height: 1rem;
  &.isFullHeaderPage {
    li:not(:last-of-type):after {
      font-size: 0.8rem;
    }
  }
  &.useDarkText {
    li:not(:last-of-type):after {
      color: black;
    }
  }
  li {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
      padding-right: 0.5rem;
      &:after {
        color: var(--secondary-color);
        content: "/";
        font-size: 1rem;
        margin-left: 0.5rem;
        padding-bottom: 0.065rem;
      }
    }
  }
}

.breadCrumb {
  font-size: 0.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  appearance: none;
  border: none;

  &.useDarkText {
    color: black;
  }

  &:has(a) {
    color: var(--primary-color);
  }

  a {
    display: flex;
    align-items: center;
    height: 1.5rem;
    &:hover {
      text-decoration: underline;
    }
  }

  .content {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
