.nav {
  position: fixed;
  padding: 0 1rem 0 5rem;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  border-bottom: 1px solid var(--neutral-border-color);
  background-color: var(--background-color);

  &.isFullHeaderPage {
    background-color: transparent;
    padding-left: calc(var(--release-tracklist-single-cover-size) + 1rem);
    border-bottom: none;
  }

  .title {
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    right: 50vw;
    top: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    transform: translateX(50%);
    max-width: 40vw;
    > span {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .ActionsGroup {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .SelectGroup {
    .button {
      opacity: 0.3;
      transition: opacity 0.2s ease-in-out;
      &.active {
        opacity: 1;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 3.5rem;
  }

  .entries {
    width: var(--navbar-width);
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid var(--tertiary-color);
    background-color: var(--background-color);
    display: none;
    position: absolute;
    top: 3rem;
    right: 3.5rem;
    list-style: none;
    .entry {
      line-height: 2.5rem;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      font-size: 0.8rem;
      gap: 0.5rem;
      &:hover {
        background-color: var(--accent-color);
      }

      &.hasFocus {
        background-color: var(--accent-color);
        outline-color: var(--accent-color);
        border: none;
      }

      a,
      button {
        flex: 1;
        &:focus {
          outline: none;
        }
      }

      button {
        background-color: transparent;
        color: var(--primary-color);
        appearance: none;
        border: none;
        line-height: 2.5rem;
        text-align: left;

        &:hover {
          background-color: var(--accent-color);
          cursor: pointer;
        }
      }

      .accelerator {
        margin-left: auto;
        font-size: 0.7rem;
      }
    }
  }

  &.isOpen {
    .entries {
      display: block;
    }
  }
}
