@import "../../styles/variables";
@import "../../styles/mixins";

.all-playlists-view {
  padding: $mainUnit;
  height: 100%;
  width: 100%;
  overflow: auto;
  h1 {
    margin: 0 0 $mainUnit 0;
    line-height: $mainUnit;
  }
  .all-playlists-table {
    width: 100%;
    border-spacing: 0;
  	border-collapse: collapse;
    tr {
      td, th {
        border-color: $backgroundLightColor;
      }
      th {
        text-align: left;
        line-height: $mainUnit;
        color: $highlightColor;
        padding: 0 1rem;
      }
      td {
        padding: 0;
        margin: 0;
        height: $mainUnit;
    		line-height: $mainUnit;
      }
    }
    tbody {
      tr {
        &:hover td {
          background-color: $backgroundLightColor;
        }
        td {
          padding: 0 1rem;
          transition: background-color .1s ease-in-out;
        }
      }
    }
  }
}
