@import "../../styles/variables";
@import "../../styles/mixins";

.all-playlists-view {
  padding: var(--section-gutter);
  height: 100%;
  width: 100%;
  overflow: auto;
  h1 {
    margin: 0 0 $mainUnit 0;
    line-height: $mainUnit;
    color: $highlightColor;
  }
  .all-playlists-table {
    width: 100%;
    border-spacing: 0;
  	border-collapse: collapse;
    .all-playlists-table-header {
      .header-title {
        max-width: $playlistTableMaxTitleWidth;
      }
    }
    tr {
      td, th {
        border-color: $backgroundLightColor;
        @media (max-width: $miniWindowThreshold) {
          &:not(.cell-title) {
            display: none;
          }
        }
      }
      th {
        text-align: left;
        line-height: $mainUnit;
        color: $highlightColor;
        padding: 0 1rem;
      }
      td {
        padding: 0;
        margin: 0;
        height: $mainUnit;
    		line-height: $mainUnit;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $backgroundLightColor;
    		&:first-of-type {
    			border-top: 1px solid $backgroundLightColor;
    		}
        &:hover td {
          background-color: $backgroundLightColor;
          transition: background-color .1s ease-in-out;
        }
        &.selected td {
          background-color: $highlightColor;
        }
        td {
          padding: 0 1rem;
          &.cell-title {
            @include ellipsis($playlistTableMaxTitleWidth);
          }
        }
      }
    }
  }
  .all-playlists-empty-placeholder {
    @include emptyComponent();
  }
}
