@import "../../styles/variables";
@import "../../styles/mixins";

.queue {
  padding: var(--section-gutter) 0 0 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  @media (max-width: $miniWindowThreshold) {
    padding: 0;
  }
  .album-list {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      margin: 0;
      &:last-child{
        margin-bottom: var(--section-gutter);
      }
    }
  }
  &-empty-placeholder {
    @include emptyComponent();
  }
}
