@import "../../styles/variables";
@import "../../styles/mixins";

.queue {
  padding: var(--section-gutter);
  height: 100%;
  width: 100%;
  overflow: auto;
  h1 {
    margin: 0 0 $mainUnit 0;
    line-height: $mainUnit;
    color: $highlightColor;
  }
  .queue-empty-placeholder {
    @include emptyComponent();
  }
}
