@import "../../styles/variables";
@import "../../styles/mixins";

.queue {
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  h1 {
    margin: 0;
    padding: var(--section-gutter) var(--section-gutter) calc(var(--section-gutter) * .5) var(--section-gutter);
    line-height: $mainUnit;
    color: $highlightColor;
  }
  .album-list {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      margin: 0;
      &:last-child{
        margin-bottom: var(--section-gutter);
      }
    }
  }
  .queue-empty-placeholder {
    @include emptyComponent();
  }
}
