@import "../../styles/variables";

.sidebar {
  background-color: $backgroundDarkColor;
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  .sidebar-header,
  .sidebar-footer {
    .button-wrapper {
      padding: $mainUnit;
      .button {
        width: 100%;
        margin: 0 0 1.6rem 0;
        padding: 0;
      }
    }
  }
  .sidebar-header {
    flex: 1;
  }
}
