@import "../../styles/variables";

.sidebar {
  background-color: $backgroundDarkColor;
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding-top: 1.5 * $mainUnit;
  .sidebar-header,
  .sidebar-footer {
    .button-wrapper {
      padding: var(--section-gutter);
      .button {
        width: 100%;
        margin: 0 0 $mainUnit / 2 0;
        padding: 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  .sidebar-header {
    flex: 1;
  }
}
