@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar {
  background-color: $backgroundDarkColor;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .sidebar-playlists {
    flex: 1;
    padding-top: var(--section-gutter);
    .button-wrapper {
      padding: var(--section-gutter);
      .button {
        width: 100%;
        margin: 0 0 $mainUnit / 2 0;
        padding: 0;
        &:last-child {
          margin: 0;
        }
        &:not(.button-outline):hover {
          background-color: $mainColor;
          border-color: $mainColor;
        }
      }
    }
  }

  .sidebar-title {
    @include sans();
    height: $mainUnit;
    line-height: $mainUnit;
    padding: 0 $mainUnit;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: $highlightColor;
    letter-spacing: .01em;
    text-transform: uppercase;
  }

  .new-playlist-button {
    height: $mainUnit;
    line-height: $mainUnit;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 0 $mainUnit;
    outline: none;
    background: none;
    border: none;
    color: $mainColor;
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: left;
    &:hover {
      text-decoration: underline;
    }
    .icon {
      margin-right: 1rem;
    }
    &.drag-is-over {
      text-decoration: underline;
    }
    &.drag-can-drop {
      background-color: $highlightColor;
      color: $mainColor;
      transition: color .3s ease-in-out;
    }
  }
}
