@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar {
  background-color: $backgroundDarkColor;
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  .sidebar-header,
  .sidebar-footer {
    .button-wrapper {
      padding: var(--section-gutter);
      .button {
        width: 100%;
        margin: 0 0 $mainUnit / 2 0;
        padding: 0;
        &:last-child {
          margin: 0;
        }
        &:not(.button-outline):hover {
          background-color: $mainColor;
          border-color: $mainColor;
        }
      }
    }
  }
  .sidebar-header {
    flex: 1;
  }
  .searchbar-wrapper {
    width: 100%;
    flex: 1;
    margin: 0 0 $mainUnit / 2 0;
    .search-bar {
      .button-search {
        width: auto;
        padding: 0 .5rem;
        &:hover {
          border-color: $mainColor;
        }
      }
    }
  }

  .sidebar-title {
    @include sans();
    height: $mainUnit;
    line-height: $mainUnit;
    padding: 0 $mainUnit;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: $highlightColor;
    letter-spacing: .01em;
    text-transform: uppercase;
  }

  .new-playlist-button {
    height: $mainUnit;
    line-height: $mainUnit;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 0 $mainUnit;
    outline: none;
    background: none;
    border: none;
    color: $mainColor;
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: left;
    &:hover {
      text-decoration: underline;
    }
    .icon {
      margin-right: 1rem;
    }
    &.drag-is-over {
      background-color: $highlightColor;
      color: $mainColor;
      transition: color .3s ease-in-out;
    }
  }

  .button-queue {
    &.drag-is-over.drag-can-drop {
      transition: .3s background-color ease-in-out;
      background-color: $highlightColor;
      color: $mainColor;
    }
  }

  @media (max-width: $miniWindowThreshold) {
    flex: 1;
    height: auto;
    .sidebar-footer,
    .playlist-list,
    .button-wrapper > .button,
    .button-wrapper .button-drag-wrapper .button {
      display: none;
    }
    .searchbar-wrapper {
      margin: 0;
    }
  }
}
