@import "../../styles/variables";

.compact-album-list {
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    margin: 0;
    border-bottom: 1px solid rgba($lightColor, .1);
    &:last-of-type {
      border-bottom: none;
    }
  }
}
