@import "../../../styles/variables";
@import "../../../styles/mixins";

.playback-bar {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $playerProgressBottomHeight;
    background-color: $mainColor;
    z-index: 10;
  }
  .waveform {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2 * $playerHeight;
    z-index: 0;
    opacity: 0.3;
    img {
      width: 100%;
      height: 100%;
      opacity: 0;
      &.loaded {
        opacity: 1;
        transition: opacity .3s ease-in;
      }
    }
  }
  .duration,
  .info-wrapper {
    z-index: 1010;
  }
  .duration {
    display: flex;
    align-self: center;
    padding: 0 var(--section-gutter);
    font-size: $playerDurationFontSize;
    font-family: 'Fira Mono', monospace;
    @media (max-width: $miniWindowThreshold) {
      font-size: $playerDurationFontSize * 0.9;
    }
  }
  .info-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    .current-track-title,
    .current-track-info {
      margin: 0;
      @include ellipsis($playerMaxInfoWidth);
      @media (max-width: $smallWindowThreshold) {
        max-width: $playerMaxInfoSmallWidth;
      }
      @media (max-width: $miniWindowThreshold) {
        max-width: $playerMaxInfoMiniWidth;
      }
    }
    .current-track-title {
      font-size: $playerTrackTitleFontSize
    }
    .current-track-info {
      font-size: $playerTrackInfoFontSize;
      color: $highlightColor;
    }
    @media (max-width: $miniWindowThreshold) {
      .current-track-title {
        font-size: $playerTrackTitleFontSize * 0.8;
      }
      .current-track-info {
        font-size: $playerTrackInfoFontSize;
      }
    }
  }
  .progress-area {
    height: $playerHeight;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $playerProgressAreaBackgroundColor;
    transition: transform 1s linear;
    z-index: 1000;
    border-bottom: $playerProgressBottomHeight +1 solid $darkColor;
    &.no-transition {
      transition: none;
    }
  }
  .progress-cursor {
    height: $playerHeight;
    width: 1px;
    background-color: $mainColor;
    position: absolute;
    left: -1px;
    top: 0;
    transition: opacity .2s ease-in-out;
    opacity: 1;
  }
}
