@import "../../styles/variables";
@import "../../styles/mixins";

.player {
  width: 100%;
  height: $playerHeight;
  background-color: $backgroundLightColor;
  border-top: 1px solid $backgroundDarkColor;
  display: flex;
  .player-sidebar-wrapper {
    width: $sidebarWidth;
    display: flex;
    justify-content: space-between;
  }
  .player-controls {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    .control {
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      margin: 0;
      height: 100%;
      padding: 0 $mainUnit;
      &:focus {
        outline: none;
      }
      &-prev,
      &-next {
        background-image: url('../../static/icons/player/prev-next.svg');
        background-size: 33%;
        background-position-x: right;
      }
      &-playback {
        background-image: url('../../static/icons/player/play.svg');
        background-size: $playbackControlSize $playbackControlSize;
        &.is-playing {
          background-image: url('../../static/icons/player/pause.svg');
          background-size: $playbackControlSize $playbackControlSize;
        }
      }
      &-next {
        transform: rotate(180deg);
      }
    }
  }

  .player-album-cover-wrapper {
    width: $playerHeight;
    display: flex;
    align-items: center;
    .player-album-cover {
      @include albumCover($playerHeight, $backgroundDarkColor, 60%);
    }
  }

  .player-playback-bar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    .current-track-title,
    .current-track-info {
      display: flex;
      margin: 0;
    }
    .current-track-title {
      font-size: $playerTrackTitleFontSize
    }
    .current-track-info {
      font-size: $playerTrackInfoFontSize;
      color: $highlightColor;
    }
  }
}
