@import "../../styles/variables";
@import "../../styles/mixins";

.player {
  width: 100%;
  height: $playerHeight;
  background-color: $backgroundLightColor;
  border-top: 1px solid $backgroundDarkColor;
  display: flex;
  @media (max-width: $miniWindowThreshold) {
    height: $miniPlayerHeight;
    flex-direction: column;
  }
  .player-sidebar-wrapper {
    width: $sidebarWidth - $playerCoverSize;
    display: flex;
    justify-content: space-between;
    @media (max-width: $smallWindowThreshold) {
      width: $smallSidebarWidth - $playerCoverSize;
    }
    @media (max-width: $miniWindowThreshold) {
      width: 100%;
      height: $mainUnit;
    }
  }
  .player-controls {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width: $miniWindowThreshold) {
      border-bottom: 1px solid $backgroundColor;
      background-color: $backgroundDarkColor;
    }
    .control {
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      margin: 0;
      padding: 0;
      height: 100%;
      color: $lightColor;
      transition: color .2s ease-in-out;
      &:hover {
        color: $highlightColor;
      }
      &-prev,
      &-next {
        font-size: 2.5rem;
        flex: 2;
      }
      &-playback {
        font-size: 3rem;
        flex: 0.5;
      }
      @media (max-width: $miniWindowThreshold) {
        &-prev,
        &-next {
          font-size: 1.5rem;
        }
        &-playback {
          font-size: 1.5rem;
        }
      }
    }
  }

  .player-album-cover-wrapper {
    width: $playerCoverSize;
    display: flex;
    align-items: center;
    .player-album-cover {
      @include albumCover($playerCoverSize, $backgroundDarkColor, 60%);
    }
    @media (max-width: $miniWindowThreshold) {
      display: none;
    }
  }
}
