@import "../../styles/variables";
@import "../../styles/mixins";

.player {
  width: 100%;
  height: $playerHeight;
  background-color: $backgroundLightColor;
  border-top: 1px solid $backgroundDarkColor;
  display: flex;
  .player-sidebar-wrapper {
    width: $sidebarWidth;
    display: flex;
    justify-content: space-between;
    @media (max-width: $smallWindowThreshold) {
      width: $smallSidebarWidth;
    }
  }
  .player-controls {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    .control {
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      margin: 0;
      padding: 0;
      height: 100%;
      color: $lightColor;
      transition: color .2s ease-in-out;
      &:hover {
        color: $highlightColor;
      }
      &-prev,
      &-next {
        font-size: 2.5rem;
        flex: 2;
      }
      &-playback {
        font-size: 3rem;
        flex: 0.5;
      }
    }
  }

  .player-album-cover-wrapper {
    width: $playerHeight;
    display: flex;
    align-items: center;
    .player-album-cover {
      @include albumCover($playerHeight, $backgroundDarkColor, 60%);
    }
  }
}
