@import "../variables";

.main-layout {
  height: 100%;

  .search-container,
  .main-container {
    height: 100%;
  }

  .search-container {
    background-color: $backgroundColor;
    z-index:1000;
    width: calc(100vw - #{$sidebarWidth});
    margin-left: $sidebarWidth;
    position: fixed;
    top: 0;
  }

  .search-container-enter {
    opacity: 0;
  }

  .search-container-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  .search-container-exit {
    opacity: 1;
  }

  .search-container-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  .sidebar-wrapper {
    height: 100%;
    width: $sidebarWidth;
    float: left;
  }

  .main-wrapper {
    height: 100%;
    width: calc(100vw - #{$sidebarWidth});
    float: left;
  }
}
