@import "../../styles/variables";
@import "../../styles/mixins";

.library-artists {
  padding: var(--section-gutter);
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  h1 {
    margin: 0;
    line-height: $mainUnit;
    color: $highlightColor;
  }
  .letter-list {
    list-style: none;
    margin: $mainUnit * 0.5 0 0 0;
    padding: 0;
    font-family: 'Fira Mono', monospace;
    li {
      display: inline-block;
      line-height: $mainUnit;
      margin-right: 2rem;
      font-size: 1.5rem;
      a {
        color: $lightColor;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .letter {
    h2 {
      color: $highlightColor;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      column-count: 3;
      line-height: 1.5rem;
      li {
        margin: 0;
        padding: 0;
        a {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .library-artists-empty-placeholder {
    @include emptyComponent();
  }
}
