@import '~@csstools/normalize.css';
@import url('../../static/inter-ui/inter-ui.css');
@import url('../../static/fira-mono/fira-mono.css');
@import url('../../static/nunito/nunito.css');
@import "./variables";

body {
	user-select: none;
	background-color: $backgroundColor;
	color: $lightColor;
	overflow: hidden;
}

*,
*::after,
*::before {
	-webkit-user-select: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
	outline: none;
}

body,
html {
	font-family: 'Inter UI', sans-serif;
	font-feature-settings: 'calt' 1, 'ss02' 1;
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-size: $baseFontSize;
}

h1, h2, h3, .header-like {
	font-family: 'Nunito', sans-serif;
}

a {
	text-decoration: none;
	color: $mainColor;
}

.highlight {
	color: $highlightColor;
}

.button {
	background-color: $mainColor;
  border: 0.1rem solid $mainColor;
  border-radius: .4rem;
  color: $highlightColor;
	padding: 0;
  cursor: pointer;
  display: inline-block;
  font-size: .75rem;
	letter-spacing: .1rem;
  font-weight: 700;
  height: $mainUnit;
  line-height: $mainUnit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
	transition: background-color .3s ease-in-out;
	&:hover {
		background-color: $hoverColor;
		border-color: $hoverColor;
	}
	&-outline {
		background-color: transparent;
		color: $mainColor;
		transition: border-color .3s ease-in-out, color .3s ease-in-out;
		&:hover {
			color: $hoverColor;
			border-color: $hoverColor;
			background-color: transparent;
		}
	}
	.button-icon {
		margin-right: 1rem;
	}
}

input[type=text],
input[type=search] {
	height: $mainUnit;
  line-height: $mainUnit;
	-webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  padding: 0 1.0rem;
  width: 100%;
}

:root {
  --section-gutter: #{$mainUnit};
	@media (max-width: $miniWindowThreshold) {
		--section-gutter: #{$mainUnit / 2};
	}
}

.app-wrapper {
	opacity: 0;
}

.wf-active .app-wrapper{
	opacity: 1;
	transition: .3s ease-in-out;
}
