@import '~@csstools/normalize.css';
@import url('../../static/inter-ui/inter-ui.css');
@import url('../../static/fira-mono/fira-mono.css');
@import url('../../static/nunito/nunito.css');
@import "./variables";
@import "./mixins";

body {
	user-select: none;
	background-color: $backgroundColor;
	color: $lightColor;
	overflow: hidden;
}

*,
*::after,
*::before {
	-webkit-user-select: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
	outline: none;
}

body,
html {
	@include sans();
	font-feature-settings: 'calt' 1, 'ss02' 1;
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-size: $baseFontSize;
}

h1, h2, h3, .header-like {
	@include header();
}

pre {
	@include monospace();
}

a {
	text-decoration: none;
	color: $mainColor;
}

.highlight {
	color: $highlightColor;
}

.button {
  border: 0.1rem solid transparent;
  border-radius: .4rem;
  color: $highlightColor;
	padding: 0;
  cursor: pointer;
  display: inline-block;
  font-size: .75rem;
	letter-spacing: .1rem;
  font-weight: 700;
  height: $mainUnit;
  line-height: $mainUnit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
	background-color: transparent;
	transition: background-color .3s ease-in-out;
	&:focus {
		text-decoration: underline;
	}
	&:hover {
		background-color: $hoverColor;
		border-color: $hoverColor;
	}
	&.selected, &.selected:hover {
		background-color: $mainColor;
		color: $highlightColor;
	}
	&-full {
		border-color: $mainColor;
		background-color: $mainColor;
	}
	&-outline {
		color: $mainColor;
		border-color: $mainColor;
		transition: border-color .3s ease-in-out, color .3s ease-in-out;
		&:hover {
			color: $hoverColor;
			border-color: $hoverColor;
			background-color: transparent;
		}
	}
	&-frameless {
		border: none;
		border-radius: 0;
		background-color: transparent;
		color: $mainColor;
		transition: color .3s ease-in-out;
		&:hover {
			color: $hoverColor;
			background-color: transparent;
		}
		&.selected, &.selected:hover {
			background-color: transparent;
			color: $highlightColor;
		}
	}
	&-mini {
		height: $formMiniHeight;
	  line-height: $formMiniHeight;
		font-size: .7rem;
	}
	.button-icon {
		margin-right: .5rem;
	}
	&-vertical {
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 1;
		height: auto;
		font-size: .7rem;
		.button-icon {
			font-size: 1rem;
			margin: 0 0 .5rem 0;
		}
	}
}

select,
input[type=text],
input[type=number],
input[type=search] {
	height: $mainUnit;
  line-height: $mainUnit;
	-webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  padding: 0 1rem;
  width: 100%;
	&[disabled] {
		user-select: none;
		cursor: not-allowed;
		opacity: .5;
	}
	&.mini {
		height: $formMiniHeight;
	  line-height: $formMiniHeight;
	}
}

:root {
	--sidebar-width: #{$sidebarWidth};
  --section-gutter: #{$mainUnit};
	--library-columns: 4;
	@media (min-width: $wideWindowThreshold) {
		--library-columns: 5;
	}
	@media (max-width: $smallWindowThreshold) {
		--sidebar-width: #{$smallSidebarWidth};
		--section-gutter: #{$mainUnit / 2};
		--library-columns: 3;
	}
	@media (max-width: $miniWindowThreshold) {
		--section-gutter: #{$mainUnit / 2};
		--library-columns: 2;
	}
}

.app-wrapper {
	opacity: 0;
}

.wf-active .app-wrapper{
	opacity: 1;
	transition: .3s ease-in-out;
}

.modal-overlay {
	background-color: rgba($backgroundDarkColor, .9);
	opacity: 0;
  transition: opacity .15s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	&-after-open{
		opacity: 1;
	}
	&-before-close{
		opacity: 0;
	}
}

.modal-content {
	width: calc(100vw - 2 * var(--section-gutter));
	padding: var(--section-gutter);
	border-radius: .5rem;
	background-color: $backgroundColor;
	outline: none;
	overflow: auto;
	border: 1px solid rgba($lightColor, .1);
	z-index: 1010;
	@media (min-width: $wideWindowThreshold) {
		width: $modalMaxWidth;
		// margin-left: $modalMaxWidth * -0.5;
	}
}
