@import './variables';

@mixin input() {
  color: $lightColor;
  transition: background-color .2s ease-in-out;
  border-radius: .4rem;
  border-color: $mainColor;
  &:focus {
    background-color: lighten($backgroundColor, 5%);
  }
}

@mixin albumTypeBackground() {
  &-album {
    background-color: $albumColor;
  }
  &-ep {
    background-color: $epColor;
  }
  &-single {
    background-color: $singleColor;
  }
  &-compilation {
    background-color: $compilationColor;
  }
  &-remix {
    background-color: $remixColor;
  }
  &-bootleg {
    background-color: $bootlegColor;
  }
  &-various {
    background-color: $variousColor;
  }
  &-soundtrack {
    background-color: $soundtrackColor;
  }
  &-tribute {
    background-color: $tributeColor;
  }
}

@mixin albumTypeColor() {
  &-album {
    color: $albumColor;
  }
  &-ep {
    color: $epColor;
  }
  &-single {
    color: $singleColor;
  }
  &-compilation {
    color: $compilationColor;
  }
  &-remix {
    color: $remixColor;
  }
  &-bootleg {
    color: $bootlegColor;
  }
  &-various {
    color: $variousColor;
  }
  &-soundtrack {
    color: $soundtrackColor;
  }
  &-tribute {
    color: $tributeColor;
  }
}

@mixin albumCover(
  $width,
  $bgColor: $backgroundLightColor,
  $bgSize: 70%
) {
  margin: 0;
  background-image: radial-gradient(
    transparent 0%,
    transparent 20%,
    $bgColor 0%,
    $bgColor $bgSize,
    transparent $bgSize, transparent 100%
  );
  width: $width;
  height: $width;
  transition: background-color .3s ease-in-out;
  > img {
    width: $width;
    height: $width;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    background-color: $bgColor;
    &.empty {
      display: none;
    }
  }
  &.loaded > img{
    opacity: 1;
  }
}

@mixin playOverlay(
  $iconUrl,
  $bgSize: 50%,
  $bgColor: rgba(white, .1),
  $content: '',
  $initialOpacity: 0,
  $finalOpacity: 1
) {
  position: relative;
  &:after {
    content: $content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url($iconUrl);
    background-position: center;
    background-size: $bgSize;
    background-repeat: no-repeat;
    background-color: $bgColor;
    opacity: $initialOpacity;
    transition: opacity .2s ease-in-out;
  }
  &:hover::after {
    opacity: $finalOpacity;
  }
}

@mixin fadeInOut() {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
}

@mixin emptyComponent() {
  margin: 0;
  padding: calc(var(--section-gutter) * 2) 0;
  height: var(--section-gutter);
  line-height: var(--section-gutter);
  font-size: var(--section-gutter);
  opacity: .5;
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin clearFix(){
  &:before,
  &:after{
    content: " ";
    display: table;
  }

  &:after{
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  &{
    *zoom: 1;
  }
}

@mixin horizontalSeparator(
  $separatorWidth: 30%,
  $color: $albumSeparatorColor
) {
  margin-bottom: calc(var(--section-gutter) * 3);
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: $separatorWidth;
    left: calc((100% - #{$separatorWidth}) / 2);
    bottom: calc(var(--section-gutter) * -1.5);
    height: 1px;
    background-color: $color;
  }
}
