$backgroundColor: #1F1F1F;
$backgroundLightColor: #282828;
$backgroundDarkColor: #0F0F0F;
$darkColor: #0F0F0F;
$lightColor: #aaa;
$highlightColor: #F5F5F5;
$mainColor: #9b4dca;
$hoverColor: #606c76;
$albumSeparatorColor: darken($highlightColor, 70%);

$releaseColors: (
  "album": #F25774,
  "ep": #0A6ABF,
  "single": #038C73,
  "compilation": #BF4904,
  "bootleg": #BF8C2C,
  "remix": #A31D5F,
  "various": #7F57FF,
  "soundtrack": #4371E8,
  "tribute": #A45E11
);

$baseFontSize: 14px;
$mainUnit: 3rem;

$wideWindowThreshold: 1200px;
$smallWindowThreshold: 960px;
$miniWindowThreshold: 640px;

$sidebarWidth: 21rem;
$smallSidebarWidth: 21rem;
$searchResultsCoverWidth: 1.2 * $mainUnit;

$albumCoverWidth: 4.5 * $mainUnit;
$albumDetailCoverWidth: 3 * $mainUnit;
$albumCoverCompactWidth: 1.5 * $mainUnit;
$tracklistMaxWidth: 60rem;
$tracklistMaxHeight: 40vh;
$albumCompactMaxWidth: 40rem;

$libraryAlbumCoverWidth: 100%;

$headerHeight: 1.5 * $mainUnit;
$searchBarHeight: 3 * $mainUnit;
$playerHeight: 2 * $mainUnit;
$miniPlayerHeight: 3 * $mainUnit;
$playerCoverSize: $playerHeight;
$playerDurationFontSize: 1rem;
$playerTrackTitleFontSize: 1.2rem;
$playerTrackInfoFontSize: .9rem;
$playbackControlSize: 2.5rem;
$playbackPrevNextControlSize: 2rem;
$playerProgressBottomHeight: 5px;
$playerProgressAreaBackgroundColor: rgba(black, .2);

$volumeControlWidth: 12rem;

$modalMaxWidth: 50vw;

$playerMaxInfoWidth: 45vw;
$playerMaxInfoSmallWidth: 40vw;
$playerMaxInfoMiniWidth: 60vw;
$playlistTableMaxTitleWidth: 50vw;
$searchResultsCellMaxWidth: 20vw;

$formMiniHeight: 2.5rem;
$dropDownActionHeight: 2.5rem;

$dragPreviewCoverWidth: 1.2 * $mainUnit;
$dragPreviewCountBadgeSize: 1.5rem;
$dragPreviewCountBadgeOffset: 2rem;

$tooltipMaxHeight: 21rem;
