$backgroundColor: #1F1F1F;
$backgroundLightColor: #282828;
$backgroundDarkColor: #0F0F0F;
$clearColor: #aaa;
$highlightColor: #F5F5F5;
$mainColor: #9b4dca;
$hoverColor: #606c76;

$albumColor: #F25774;
$epColor: #0A6ABF;
$singleColor: #038C73;
$compilationColor: #BF4904;
$bootlegColor: #BF8C2C;
$remixColor: #A31D5F;
$variousColor: #7F57FF;
$soundtrackColor: #4371E8;
$tributeColor: #A45E11;

$baseFontSize: 14px;
$mainUnit: 3rem;

$sidebarWidth: 27rem;
$searchButtonWidth: 10rem;

$albumCoverWidth: 4 * $mainUnit;
$albumCoverCompactWidth: 1.2 * $mainUnit;
$tracklistMaxWidth: 60rem;

$searchBarHeight: 3 * $mainUnit;
$playerHeight: 2 * $mainUnit;
$playerTrackTitleFontSize: 1.2rem;
$playerTrackInfoFontSize: .9rem;
$playbackControlSize: 3rem;
