$backgroundColor: #1F1F1F;
$backgroundLightColor: #282828;
$backgroundDarkColor: #0F0F0F;
$darkColor: #0F0F0F;
$lightColor: #aaa;
$highlightColor: #F5F5F5;
$mainColor: #9b4dca;
$hoverColor: #606c76;
$albumSeparatorColor: darken($highlightColor, 70%);

$albumColor: #F25774;
$epColor: #0A6ABF;
$singleColor: #038C73;
$compilationColor: #BF4904;
$bootlegColor: #BF8C2C;
$remixColor: #A31D5F;
$variousColor: #7F57FF;
$soundtrackColor: #4371E8;
$tributeColor: #A45E11;

$baseFontSize: 14px;
$mainUnit: 3rem;

$wideWindowThreshold: 25 * $mainUnit;
$smallWindowThreshold: 21 * $mainUnit;
$miniWindowThreshold: 15 * $mainUnit;

$sidebarWidth: 27rem;
$smallSidebarWidth: 21rem;
$searchButtonWidth: 11rem;
$searchResultsCoverWidth: 1.2 * $mainUnit;

$albumCoverWidth: 4 * $mainUnit;
$albumCoverCompactWidth: 1.2 * $mainUnit;
$tracklistMaxWidth: 60rem;

$libraryAlbumCoverWidth: 100%;

$searchBarHeight: 3 * $mainUnit;
$playerHeight: 2 * $mainUnit;
$miniPlayerHeight: 3 * $mainUnit;
$playerCoverSize: $playerHeight;
$playerDurationFontSize: 1rem;
$playerTrackTitleFontSize: 1.2rem;
$playerTrackInfoFontSize: .9rem;
$playbackControlSize: 3rem;
$playerProgressBottomHeight: 5px;
$playerProgressAreaBackgroundColor: rgba(black, .2);

$modalMaxWidth: 50vw;
