@import "../../../styles/variables";
@import "../../../styles/mixins";

.compact-album-view {
	@include albumType('border-left-color');
	padding: .75rem 1rem .75rem 2rem;
  position: relative;
  background-color: rgba($backgroundDarkColor, .4);
	border-left: .5rem solid;

  .album-inner-wrapper {
    display: flex;
    align-items: center;
  }

  &.sortable .album-inner-wrapper::before {
    content: '⋮';
    cursor: move;
    position: absolute;
    top: .75rem;
    left: .5rem;
    line-height: $albumCoverCompactWidth;
    height: $albumCoverCompactWidth;
    vertical-align: middle;
    font-size: 3rem;
    color: $backgroundLightColor;
    transition: color .3s ease-in-out;
  }

  &:not(.is-current):hover .album-inner-wrapper{
    &:before {
      color: $highlightColor;
    }
  }

  &:not(.is-current):hover {
		transition: background-color .3s ease-in-out;
    .album-cover {
      @include albumCover($albumCoverCompactWidth, $backgroundColor);
      @include playOverlay('../../../static/icons/album/play.svg', 40%);
    }
  }
  &.drag-is-dragging,
	&.drag-is-dragging:hover {
    background-color: rgba($mainColor, .3);
    .album-inner-wrapper {
      opacity: 0;
    }
  }
  &.is-current {
		transition: background-color .3s ease-in-out;
    background-color: rgba($mainColor, .3);
  }
  &.selected {
    background-color: $backgroundLightColor;
  }
  .album-cover {
    @include albumCover($albumCoverCompactWidth);
  }
  .album-content {
		@include ellipsis(100%);
    margin: 0 0 0 1.6rem;
    display: flex;
		flex: 1;
    flex-direction: column;
    .album-title {
			@include ellipsis(100%);
      font-weight: bold;
      color: $highlightColor;
      font-size: 1rem;
      line-height: 2rem;
      .icon {
        margin-left: .5rem;
      }
    }
		.album-info {
			@include ellipsis(100%);
			a {
				cursor: pointer;
			}
			.album-year {
				@include monospace();
				margin-right: .25rem;
				&:after {
					content: '·';
					padding-left: .25rem;
				}
			}
		}
  }
	.button-album-actions {
		width: 2rem;
	}
}
