@import "../../styles/variables";
@import "../../styles/mixins";

.custom-drag-layer {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .album-drag-preview {
    @include albumCover($dragPreviewCoverWidth, $backgroundDarkColor);
    width: $dragPreviewCoverWidth;
    height: $dragPreviewCoverWidth;
    background-color: $backgroundLightColor;
    position: relative;
    border: 1px solid darken($lightColor, 40%);
    box-shadow: 0px 0px 10px 0px rgba(white, 0.1);

    .count-badge {
      @include monospace();
      background-color: red;
      width: $dragPreviewCountBadgeSize;
      height: $dragPreviewCountBadgeSize;
      border-radius: 50%;
      position: absolute;
      left: $dragPreviewCountBadgeOffset;
      bottom: -$dragPreviewCountBadgeOffset;
      color: $highlightColor;
      text-align: center;
      line-height: $dragPreviewCountBadgeSize;
      vertical-align: middle;
      font-size: 0.9rem;
    }
  }
}
