@import "../../styles/variables";
@import "../../styles/mixins";

.artist {
	width: 100%;
	padding: 0;
	.album-grid {
		.album-grid-row	{
			@include albumType('border-left-color');
			border-left-width: calc(var(--section-gutter) / 3);
			border-left-style: solid;
			border-bottom: 1px solid darken($lightColor, 50%);
			padding:
				var(--section-gutter)
				var(--section-gutter)
				0
				calc(var(--section-gutter) * 2 / 3);
		}
	}
	&-empty-placeholder {
    @include emptyComponent();
  }
}
