@import "../../styles/variables";
@import "../../styles/mixins";

.artist {
	width: 100%;
	padding: 0;
	.album-grid {
		.album-grid-row	{
			border-bottom: 1px solid $darkColor;
			background-color: rgba($backgroundDarkColor, .4);
			padding:
				var(--section-gutter)
				var(--section-gutter)
				0
				calc(var(--section-gutter) * 2 / 3);
			&.has-group-title {
				padding:
					0
					var(--section-gutter)
					0
					calc(var(--section-gutter) * 2 / 3);
			}
		}
	}
	&-empty-placeholder {
    @include emptyComponent();
  }
}
