@import "../../styles/variables";
@import "../../styles/common";

.artist {
	width: 100%;
	padding: 0;
	.artist-releases {
		.artist-release-group	{
			@include albumType('background-color', .1);
			.artist-releases-header {
				@include albumType('color');
				font-size: 1rem;
				line-height: $mainUnit;
				margin: 0;
			}
			.album-grid {
				
			}
		}
	}
}
