@import "../../../styles/variables";
@import "../../../styles/mixins";

.search-result-list-empty-component {
	margin: 0;
	padding: 0 $mainUnit $mainUnit $mainUnit;
	height: $mainUnit;
	line-height: $mainUnit;
}

.search-result-list {
	padding: 0 $mainUnit $mainUnit $mainUnit;
  overflow: auto;

	&-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
	.search-result-list-header {
		height: $mainUnit;
		line-height: $mainUnit;
		tr {
			th {
				text-align: left;
				padding: 0 2rem;
			}
		}
	}
	.search-result-list-item {
		align-items: center;
		padding-left: $mainUnit;
		margin: 0;
		height: $mainUnit;
		line-height: $mainUnit;
		&:hover{
			background-color: $backgroundLightColor;
		}
		.cell {
			&-year,
			&-artist,
			&-title, {
				padding: 0 2rem;
			}
			&-artist {
				min-width: 12 * 1.6rem;
				color: $highlightColor;
			}
		}
		.tag {
			@include albumTypeBackground();
			display: block;
			color: $highlightColor;
			font-size: .75rem;
			border-radius: .25rem;
			text-align: center;
			width: 8 * 1.6rem;
			height: 2rem;
			line-height: 2rem;
		}
	}
}
