@import "../../../styles/variables";
@import "../../../styles/mixins";

.search-result-list-empty-component {
	margin: 0;
	padding: 2 * $mainUnit 0;
	height: $mainUnit;
	line-height: $mainUnit;
	font-size: $mainUnit;
	opacity: .5;
	text-align: center;
}

.search-result-list {
	padding: 0  var(--section-gutter) var(--section-gutter) var(--section-gutter);
  overflow: auto;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	@include fadeInOut();
	td, th {
		@media (max-width: $miniWindowThreshold) {
			&.header,
			&.cell-year,
			&.cell-type {
				display: none;
			}
		}
	}
	.search-result-list-header {
		line-height: $mainUnit;
		color: $highlightColor;
		tr {
			th {
				text-align: left;
				padding: 0 2rem;
				&.header-year,
				&.header-type {
					text-align: center;
				}
				&.header-cover {
					padding-left: .25rem;
				}
				&.header-type {
					padding: 0 $mainUnit / 3 0 0;
					width: 3 * $mainUnit;
				}
			}
		}
	}
	.search-result-list-item {
		margin: 0;
		line-height: $mainUnit;
		border-bottom: 1px solid $backgroundLightColor;
		&:first-of-type {
			border-top: 1px solid $backgroundLightColor;
		}
		&:hover{
			background-color: $backgroundLightColor;
			.cell.cell-cover figure {
				@include albumCover($searchResultsCoverWidth, $backgroundColor);
			}
		}
		&.is-current {
			background-color: rgba($mainColor, .1);
			transition: background-color .3s ease-in-out;
		}
		&:not(.is-current) {
			.cell-cover figure {
				@include playOverlay('../../../static/icons/album/play.svg');
			}
		}
		.cell {
			&-year,
			&-artist,
			&-title, {
				padding: 0 calc(var(--section-gutter) * 2/3);
			}
			&-artist {
				color: $highlightColor;
				&:hover {
					text-decoration: underline;
				}
			}
			&-cover {
				width: $searchResultsCoverWidth;
				padding: .25rem 0 .25rem .25rem;
				figure {
					@include albumCover($searchResultsCoverWidth);
				}
			}
			&-year,
			&-type {
				text-align: center;
			}
			&-type{
				padding-right: calc(var(--section-gutter) / 3);
			}
			@media (max-width: $miniWindowThreshold) {
				&-artist,
				&-title, {
					display: block;
					white-space: nowrap;
	        overflow: hidden;
	        text-overflow: ellipsis;
					line-height: var(--section-gutter);
					max-width: calc(100vw - #{$searchResultsCoverWidth} - var(--section-gutter) * 2);
				}
				&-artist {
					padding-top: .5rem;
				}
			}
		}
		.tag {
			@include albumTypeBackground();
			display: block;
			color: $highlightColor;
			font-size: .75rem;
			border-radius: .25rem;
			text-align: center;
			height: 2rem;
			line-height: 2rem;
			padding: 0;
		}
	}
}
