@import "../../../styles/variables";
@import "../../../styles/mixins";

.search-result-list-empty-component {
	margin: 0;
	padding: 0 $mainUnit $mainUnit $mainUnit;
	height: $mainUnit;
	line-height: $mainUnit;
}

.search-result-list {
	padding: 0 $mainUnit $mainUnit $mainUnit;
  overflow: auto;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	@include fadeInOut();
	.search-result-list-header {
		line-height: $mainUnit;
		color: $highlightColor;
		tr {
			th {
				text-align: left;
				padding: 0 2rem;
				&.header-year,
				&.header-type {
					text-align: center;
				}
				&.header-cover {
					padding-left: .25rem;
				}
				&.header-type {
					padding: 0 $mainUnit / 3 0 0;
					width: 3 * $mainUnit;
				}
			}
		}
	}
	.search-result-list-item {
		margin: 0;
		line-height: $mainUnit;
		border-bottom: 1px solid $backgroundLightColor;
		&:first-of-type {
			border-top: 1px solid $backgroundLightColor;
		}
		&:hover{
			background-color: $backgroundLightColor;
			.cell.cell-cover figure {
				@include albumCover($searchResultsCoverWidth, $backgroundColor);
			}
		}
		&.is-current {
			background-color: rgba($mainColor, .1);
			transition: background-color .3s ease-in-out;
		}
		&:not(.is-current) {
			.cell-cover figure {
				@include playOverlay('../../../static/icons/album/play.svg');
			}
		}
		.cell {
			&-year,
			&-artist,
			&-title, {
				padding: 0 2rem;
			}
			&-artist {
				color: $highlightColor;
				&:hover {
					text-decoration: underline;
				}
			}
			&-cover {
				width: $searchResultsCoverWidth;
				padding: .25rem 0 .25rem .25rem;
				figure {
					@include albumCover($searchResultsCoverWidth);
				}
			}
			&-year,
			&-type {
				text-align: center;
			}
			&-type{
				padding-right: $mainUnit / 3;
			}
		}
		.tag {
			@include albumTypeBackground();
			display: block;
			color: $highlightColor;
			font-size: .75rem;
			border-radius: .25rem;
			text-align: center;
			height: 2rem;
			line-height: 2rem;
			padding: 0;
		}
	}
}
