@import "../../../styles/variables";
@import "../../../styles/mixins";

.search-result-list {
	list-style: none;
  overflow: auto;

	&-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
	.search-result-list-empty-component {
		padding-left: $mainUnit;
	}
	.search-result-list-item {
		align-items: center;
		padding-left: $mainUnit;
		margin: 0;
		height: $mainUnit;
		line-height: $mainUnit;
		&:hover{
			background-color: $backgroundLightColor;
		}
		> span {
			display: inline-block;
		}
		.year {
			width: 8 * 1.6rem;
			text-align: center;
		}
		.artist {
			min-width: 12 * 1.6rem;
			color: $highlightColor;
			padding-right: 2rem;
		}
		.tag {
			@include albumTypeBackground();
			color: $highlightColor;
			font-size: 1.2rem;
			border-radius: .25rem;
			text-align: center;
			width: 8 * 1.6rem;
			height: 2.4rem;
			line-height: 2.4rem;
		}
	}
}
