@import "../../../styles/variables";
@import "../../../styles/mixins";

.album-view {
  display: flex;
  margin-bottom: calc(var(--section-gutter) * 3);
  position: relative;
  --separator-width: 30%;
  @media (max-width: $smallWindowThreshold) {
    flex-direction: column;
  }
  @media (max-width: $miniWindowThreshold) {
    --separator-width: 90%;
  }
  &:after {
    content: '';
    position: absolute;
    width: var(--separator-width);
    left: calc((100% - var(--separator-width)) / 2);
    bottom: calc(var(--section-gutter) * -1.5);
    height: 1px;
    background-color: $albumSeparatorColor;
  }
  &:not(.is-current) {
    .album-cover {
      @include playOverlay(
        $iconUrl: '../../../static/icons/album/play.svg',
        $bgSize: 33%
      );
    }
  }
  .album-aside {
    width: $albumCoverWidth;
    .album-cover {
      @include albumCover($albumCoverWidth);
      margin: 0 0 calc(var(--section-gutter) * 0.5) 0;
    }
    .album-actions {
      text-align: center;
      .button {
        width: 100%;
      }
    }
  }
  &.is-current {
    .album-cover {
      @include playOverlay(
        $iconUrl: '../../../static/icons/album/volume.svg',
        $bgSize: 33%,
        $initialOpacity: .8,
        $finalOpacity: .8
      );
    }
  }

  .album-content {
    padding-left: $mainUnit;
    flex: 1;
    @media (max-width: $smallWindowThreshold) {
      padding-left: 0;
    }
    header {
      margin-bottom: $mainUnit * .5;
      h2 {
        margin: 0;
        font-size: 1.8rem;
        line-height: 3rem;
        color: $highlightColor;
        font-weight: bold;
        letter-spacing: .01em;
        transition: color .3s ease-in-out;
      }
      h3 {
        margin: 0;
        font-size: 1.2rem;
        letter-spacing: 0;
        line-height: 2rem;
        font-weight: normal;
      }
    }
    .album-artist {
      text-decoration: underline;
      color: $lightColor;
      &:hover {
        color: $highlightColor;
      }
    }
    .album-type {
      @include albumTypeColor();
    }
  }
}
