@import "../../../styles/variables";
@import "../../../styles/mixins";

.album-view {
  display: flex;
  background-color: rgba($backgroundDarkColor, .3);
  border-radius: 1rem;
  padding: var(--section-gutter);
  margin-bottom: var(--section-gutter);
  @media (max-width: $smallWindowThreshold) {
    flex-direction: column;
  }
  @media (max-width: $miniWindowThreshold) {
    background-color: transparent;
    padding: 0;
    @include horizontalSeparator($separatorWidth: 90%);
  }

  &:not(.is-current) {
    .album-cover {
      @include playOverlay(
        $iconUrl: '../../../static/icons/album/play.svg',
        $bgSize: 33%
      );
    }
  }
  .album-aside {
    width: $albumCoverWidth;
    .album-cover {
      @include albumCover($albumCoverWidth);
      margin: 0 0 calc(var(--section-gutter) * 0.5) 0;
    }
    .album-actions {
      text-align: center;
      .button {
        width: 100%;
      }
    }
  }
  &.is-current {
    @media (min-width: $miniWindowThreshold + 1) {
      box-shadow: inset 0 0 0 1px $mainColor;
    }
  }

  .album-content {
    padding-left: $mainUnit;
    flex: 1;
    @media (max-width: $smallWindowThreshold) {
      padding-left: 0;
    }
    header {
      margin-bottom: $mainUnit * .5;
      h2 {
        margin: 0;
        font-size: 1.8rem;
        line-height: 3rem;
        color: $highlightColor;
        font-weight: bold;
        letter-spacing: .01em;
        transition: color .3s ease-in-out;
        @media (max-width: $miniWindowThreshold) {
          font-size: 1.2rem;
          line-height:  2rem;
        }
      }
      h3 {
        margin: 0;
        font-size: 1.2rem;
        letter-spacing: 0;
        line-height: 2rem;
        font-weight: normal;
      }
    }
    .album-artist {
      text-decoration: underline;
      color: $lightColor;
      &:hover {
        color: $highlightColor;
      }
    }
    .album-type {
      @include albumTypeColor();
    }
  }
}
