@import "../../../styles/variables";
@import "../../../styles/mixins";

.album-view {
  display: flex;
  margin: 0 var(--section-gutter) var(--section-gutter) var(--section-gutter);
  @media (max-width: $smallWindowThreshold) {
    flex-direction: column;
  }
  @media (max-width: $miniWindowThreshold) {
    background-color: transparent;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  &:hover {
    .album-aside {
      .album-actions {
        visibility: visible;
      }
    }
  }
  &:not(.is-current) {
    .album-cover {
      @include playOverlay(
        $iconUrl: '../../../static/icons/album/play.svg',
        $bgSize: 33%
      );
    }
  }
  .album-aside {
    width: calc(#{$albumCoverWidth} + 2 * var(--section-gutter));
    padding:
      var(--section-gutter)
      calc(var(--section-gutter) * 1)
      var(--section-gutter)
      var(--section-gutter);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: rgba($backgroundDarkColor, .4);
    display: flex;
    flex-direction: column;
    transition: background-color .3s ease-in-out;
    .album-cover-wrapper {
      width: $albumCoverWidth;
      .album-cover {
        @include albumCover($albumCoverWidth);
        @include droppable();
      }
    }
    @media (max-width: $smallWindowThreshold) {
      width: 100%;
      border-top-right-radius: .5rem;
      border-bottom-left-radius: 0;
      padding: calc(var(--section-gutter) * .5);
      flex-direction: row;
      .album-cover-wrapper {
        width: $albumCoverWidth * .5;
        margin-right: calc(var(--section-gutter) * .5);
        .album-cover {
          @include albumCover($albumCoverWidth * .5);
        }
      }
    }
    @media (max-width: $miniWindowThreshold) {
      border-radius: 0;
    }

    header {
      @media (max-width: $miniWindowThreshold) {
        width: 100%;
      }
      h2 {
        margin: calc(var(--section-gutter) * 0.5) 0 0 0;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $highlightColor;
        font-weight: bold;
        letter-spacing: .01em;
        transition: color .3s ease-in-out;
        display: flex;
        @media (max-width: $smallWindowThreshold) {
          margin-top: .5rem;
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
      .button-album-actions {
        display: flex;
        width: 2rem;
        height: 2rem;
        margin-left: .5rem;
        @media (max-width: $smallWindowThreshold) {
          height: auto;
          line-height: 1;
        }
      }
      .album-artist,
      .album-info {
        margin: 0;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 2rem;
        font-weight: normal;
        .album-artist-link {
          color: $lightColor;
          &:hover {
            text-decoration: underline;
          }
          &.loading {
            text-decoration: none;
            &:after {
              content: '…';
            }
          }
        }
        .album-year {
          @include monospace();
          margin-right: .25rem;
          &:after {
  					content: '·';
  					padding-left: .25rem;
  				}
        }
        .album-type {
          @include albumType('color');
        }
      }
    }
  }

  &.is-current {
    @media (min-width: $miniWindowThreshold + 1) {
      border-radius: .5rem;
      background-color: rgba($mainColor, .2);
      transition: background-color .3s ease-in-out;
    }
  }

  .album-content {
    flex: 1;
    padding:
      var(--section-gutter)
      var(--section-gutter)
      var(--section-gutter)
      calc(var(--section-gutter) * 0.5);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: rgba($backgroundDarkColor, .7);
    @media (max-width: $smallWindowThreshold) {
      padding-top: calc(var(--section-gutter) * .5);
      padding-left: var(--section-gutter);
      border-top-right-radius: 0;
      border-bottom-left-radius: .5rem;
    }
    @media (max-width: $miniWindowThreshold) {
      background-color: transparent;
    }
  }
}
