@import "../../../styles/variables";
@import "../../../styles/mixins";

.album-view {
  display: flex;
  margin-bottom: $mainUnit * 3;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 30%;
    left: 35%;
    bottom: $mainUnit * -1.5;
    height: 1px;
    background-color: $backgroundLightColor;
  }
  .album-aside {
    width: $albumCoverWidth;
    .album-cover {
      @include albumCover($albumCoverWidth);
      margin: 0 0 $mainUnit * 0.5 0;
      &:hover {
        @include playOverlay('../../../static/icons/album/play.svg', 33%);
      }
    }
    .album-actions {
      text-align: center;
      .button {
        width: 100%;
      }
    }
  }
  .album-content {
    padding-left: $mainUnit;
    flex: 1;
    header {
      margin-bottom: $mainUnit * .5;
      h2 {
        margin: 0;
        font-size: 1.8rem;
        line-height: 3rem;
        color: $highlightColor;
        font-weight: bold;
        letter-spacing: .01em;
      }
      h3 {
        margin: 0;
        font-size: 1.2rem;
        letter-spacing: 0;
        line-height: 2rem;
        font-weight: normal;
      }
    }
    .album-artist {
      text-decoration: underline;
      color: $lightColor;
    }
    .album-type {
      @include albumTypeColor();
    }
  }
}
