<section class="hero bg-yellow pt5 pb0 pb4-l">
  <div class="h-100 cf">
    <header class="fl w-100 w-50-xl h-100 pl3 pl5-ns pr4 flex flex-column justify-center">
      <h1 class="f1 f-headline-ns lh-solid mv0 black tr-ns tc">{{ t('home.hero.title') }}</h1>
      <p class="f5 lh-copy ttu tracked mb4 black-80 tr-ns tc">{{ t('home.hero.caption') }}</p>
      <ul class="list pl3 lh-copy tr-ns tc">
        <li>{{ t('home.hero.description.files') }}</li>
        <li>{{ t('home.hero.description.artwork', { link: config.links.discogs }) }}</li>
        <li>
          {{ t('home.hero.description.stack.intro') }}
          {% for tech, link in config.links.stack %}
          <a class="link blue underline-hover" href="{{ link }}" target="_blank">{{tech}}</a>
          {% if loop.last == false %},{% endif %}
          {% endfor %}
          {{ t('home.hero.description.stack.outro') }}
        </li>
      </ul>
      <p class="mt5 mb4 mb0-l db-ns dn tr-ns tc">
        <a
          href="{{ data.downloadURL }}"
          class="f5 br2 ph4 pv3 lh-copy white bg-black link underline-hover">
          {{ t('home.hero.download', { version: data.appVersion }) }}
        </a>
      </p>
    </header>
    <div class="hero-screenshots fl w-100 w-50-xl h-100 pa3 pa0-l flex flex-column justify-center">
      <div class="screenshot-wrapper relative pv5-l h-100">
        <div class="screenshot absolute">
          <img class="search" data-src="{{ asset('images/screenshots/search.png') }}"/>
        </div>
        <div class="screenshot absolute">
          <img class="playlist" data-src="{{ asset('images/screenshots/playlist.png') }}"/>
        </div>
        {# <div class="screenshot">
          <img class="compact" data-src="{{ asset('images/screenshots/compact.png') }}"/>
        </div> #}
      </div>
    </div>
  </div>
</section>
