<section class="hero bg-yellow pv6 pv0-ns relative">
  <div class="h-100 flex items-center">
    <header class="mw9 w-80 center">
      <h1 class="f1 f-headline-ns lh-solid mv0 black">{{ t('home.hero.title') }}</h1>
      <p class="f5 lh-copy ttu tracked mb4 black-80">{{ t('home.hero.caption') }}</p>
      <ul class="pl3 lh-copy">
        <li>{{ t('home.hero.description.files') }}</li>
        <li>{{ t('home.hero.description.artwork', { link: config.links.discogs }) }}</li>
        <li>
          {{ t('home.hero.description.stack.intro') }}
          {% for tech, link in config.links.stack %}
          <a class="link blue underline-hover" href="{{ link }}" target="_blank">{{tech}}</a>
          {% if loop.last == false %},{% endif %}
          {% endfor %}
          {{ t('home.hero.description.stack.outro') }}
        </li>
      </ul>
      <p class="mt5">
        <a href="{{ config.links.download }}" class="f5 br2 ph4 pv3 lh-copy white bg-black link underline-hover">{{ t('home.hero.download') }}</a>
      </p>
    </header>
  </div>
  <div class="hero-screenshots absolute">
    <img class="search" data-src="/images/screenshots/search.png"/>
    <img class="playlist" data-src="/images/screenshots/playlist.png"/>
    <img class="compact" data-src="/images/screenshots/compact.png"/>
  </div>
</section>
