{% extends "layout.html" %}
{% block title %}{{ t('blog.title') }}{% endblock %}
{% block data %}{% set posts = item %}{% endblock %}
{% block body %}
<section class="blog w-80-ns center ph3 ph0-ns pv6-ns">
  <h1 class="f3 f1-ns lh-solid mt4 mb5 black">{{ t('blog.title') }}</h1>
{% for post in posts %}
  <article class="blog-post mb5">
    <h2 class="f5 f4-ns lh-copy ttu tracked">
      <a class="link blue underline-hover" href="{{ url('blog.single', post) }}">{{ post.title }}</a>
    </h2>
    <p class="measure lh-copy">{{ post.__content | excerpt(500) }}</p>
  </article>
{% endfor %}
</section>
<div class="album-bar relative overflow-hidden w-100 bg-dark-gray"></div>
{% endblock %}
