{% extends "layout.html" %}
{% set title = item.title %}
{% block title %}{{ title }} / {{ t('blog.title') }} / {{config.title}}{% endblock %}
{% block meta_basic %}
  <meta name="description" content="{{ item.__content | excerpt(150) }}">
{% endblock %}
{% block meta_og %}
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ item.__content | excerpt(350) }}">
  <meta property="article:published_time" content="{{ item.date | format('YYYY-MM-DDTHH:mm:ss.SSSZZ') }}">
  {% for tag in item.tags %}
  <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
{% endblock %}
{% block meta_twitter %}
  <meta name="twitter:description" content="{{ item.__content | excerpt(350) }}">
{% endblock %}
{% block body %}
<article class="blog-post mw8-ns center ph3 pb5 pv4 pv6-ns">
  <header class="blog-post-header mb5">
    <time class="tracked ttu">{{ item.date | format('MMMM DD, YYYY') }}</time>
    <h1 class="f3 f1-ns lh-solid mt4 mb4">{{ item.title }}</h1>
  </header>
  <section class="blog-post-content">
{% markdown %}{{ item.__content }}{% endmarkdown %}
  </section>
</article>
<div class="album-bar relative overflow-hidden w-100 bg-mid-gray"></div>
{% endblock %}
