@import "../../../styles/variables";
@import "../../../styles/mixins";

.album-grid {
  @include clearFix();
  .album-grid-tile {
    float: left;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    width: calc(100% / 4);
    @media (min-width: $wideWindowThreshold) {
      width: calc(100% / 7);
    }
    @media (max-width: $smallWindowThreshold) {
      width: calc(100% / 3);
    }
    @media (max-width: $miniWindowThreshold) {
      width: calc(100% / 2);
    }
    &:not(.is-playing) {
      .album-cover {
        @include playOverlay('../../../static/icons/album/play.svg', $mainUnit);
      }
    }
    &.is-playing {
      .album-cover {
        box-shadow: 0 0 0 5px $mainColor;
        z-index: 1000;
      }
    }
    .album-cover {
      @include squareCover($backgroundDarkColor);
      @include droppable();
      transform: scale(.9);
    }
    .album-artist,
    .album-title,
    .album-year {
      text-align: center;
      display: block;
      line-height: 1.5rem;
      @include ellipsis(100%);
    }
    .album-artist {
      &:hover {
        cursor: pointer;
      }
    }
    .album-title,
    .album-year {
      font-size: .9rem;
    }
    .album-year {
      color: darken($lightColor, 30%);
    }
  }
  .album-grid-empty-placeholder {
    @include emptyComponent();
  }
}
