@import "../../../styles/variables";
@import "../../../styles/mixins";

.album-grid {
  .album-grid-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .album-grid-tile {
      flex: calc(100% / var(--library-columns));
      .album-cover {
        @include albumCover($libraryAlbumCoverWidth, $backgroundDarkColor);
      }
      &:not(.is-playing) {
        @include playOverlay('../../../static/icons/album/play.svg', $mainUnit);
      }
      &.is-playing {
        .album-cover {
          box-shadow: 0 0 0 5px $mainColor;
          z-index: 1000;
          position: relative;
          img {
            position: relative;
            z-index: -1;
          }
        }
      }
    }
  }
}
