@import "../../../styles/variables";
@import "../../../styles/mixins";

.album-grid {
  .album-grid-row {
    @include clearFix();
    .album-grid-tile {
      float: left;
      padding-right: 1.5rem;
      padding-bottom: 1.5rem;
      &:not(.is-playing) {
        .album-cover {
          @include playOverlay('../../../static/icons/album/play.svg', $mainUnit);
        }
      }
      &.is-playing {
        .album-cover {
          @include playOverlay('../../../static/icons/album/play.svg', $mainUnit, rgba(white, .1), '', 1, 1);
        }
      }
      &.selected {
        .album-cover {
          box-shadow: 0 0 0 2px $mainColor;
          z-index: 1000;
        }
      }
      .album-cover {
        @include squareCover($backgroundDarkColor);
        @include droppable();
        transform: scale(.9);
      }
      .album-artist,
      .album-title,
      .album-year {
        text-align: center;
        display: block;
        line-height: 1.5rem;
        @include ellipsis(100%);
      }
      .album-artist {
        &:hover {
          cursor: pointer;
        }
      }
      .album-title,
      .album-year {
        font-size: .9rem;
      }
      .album-year {
        @include monospace();
        color: darken($lightColor, 30%);
      }
    }
  }

  &-empty-placeholder {
    @include emptyComponent();
  }
}
