@import 'node_modules/tachyons/css/tachyons';
@import 'node_modules/prismjs/themes/prism-tomorrow';

$navigationHeight: 3rem;
$wideCut: 1280px;
$heroHeight: 700px;
$heroGutter: 4rem;
$screenShotRatio: 1.635;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  min-height: 100%;
}

.navigation {
  height: $navigationHeight;
  line-height: $navigationHeight;
  transition: background-color .2s ease-in-out, opacity .2s ease-in-out;
  @media screen and (max-width: 30em) {
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
  }
  &.js-is-sticky--change {
    background-color: #333;
    color: white;
    z-index: 1000;
    a {
      transition: color .2s ease-in-out;
      color: white;
    }
  }
}

.main {
  min-height: 80vh;
  margin-top: -$navigationHeight;
  word-break: break-word;
  @media screen and (max-width: 30em) {
    margin-top: 0;
  }
}

.not-found {
  min-height: 80vh;
}

.home {
  @media screen and (max-width: 30em) {
    .main {
      margin-top: -$navigationHeight;
    }
  }
  .navigation {
    opacity: 0;
    &.js-is-sticky--change {
      opacity: 1;
    }
  }

  .hero {
    overflow-x: hidden;
    .hero-screenshots {
      .screenshot-wrapper {
        min-height: calc(100vw / #{$screenShotRatio});
      }
      .screenshot {
        left: 4rem;
        @media screen and (max-width: 30em) {
          left: 0;
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      img {
        transition: opacity .8s ease-in-out, transform .5s ease-in-out;
        box-shadow: 0 0 1rem rgba(0,0,0,.4);
        opacity: 0;
        width: calc(100vw - #{$heroGutter * 2});
        height: calc((100vw - #{$heroGutter * 2}) / #{$screenShotRatio});
        &.loaded {
          opacity: 1;
        }
      }
    }
    @media screen and (min-width: $wideCut) {
      padding-top: 0;
      padding-bottom: 0;
      height: $heroHeight;
      header {
        padding-left: 6rem;
      }
      .hero-screenshots {
        .screenshot-wrapper {
          min-height: 0;
        }
      }
      .w-50-xl {
        width: 50%;
      }
      .hero-screenshots {
        img {
          max-width: 100vw;
          width: calc((#{$heroHeight} - #{$heroGutter * 2}) * #{$screenShotRatio});
          height: calc((#{$heroHeight} - #{$heroGutter * 2}));
        }
      }
    }
  }
}

.album-bar {
  height: 12rem;
  @media screen and (max-width: 30em) {
    height: 6rem;
  }
  .album {
    &.loaded {
      img {
        opacity: 1;
      }
    }
    img {
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
  }
}

.blog-post,
.page-content {
  h2, h3 {
    a > .link {
      width: 1.2rem;
      margin-left: -1.2rem;
      float: left;
      line-height: 1;
      display: none;
    }
    &:hover a > .link {
      display: inline;
    }
  }
  ul, ol {
    line-height: 1.5;
  }
  img {
    padding: 2rem 0;
  }
  pre {
    padding: 2rem;
    margin: 2rem 0;
    @media screen and (max-width: 30em) {
      padding: 1rem;
      code {
        font-size: .8rem;
      }
    }
  }
  iframe {
    max-width: 100%;
    border: none;
    margin: 2rem 0;
  }
}
