@import 'node_modules/tachyons/css/tachyons';
@import 'node_modules/prismjs/themes/prism-tomorrow';

$navigationHeight: 3rem;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  min-height: 100%;
}

.navigation {
  height: $navigationHeight;
  line-height: $navigationHeight;
  transition: background-color .2s ease-in-out, opacity .2s ease-in-out;
  @media screen and (max-width: 30em) {
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
  }
  &.js-is-sticky--change {
    background-color: #333;
    color: white;
    z-index: 1000;
    a {
      transition: color .2s ease-in-out;
      color: white;
    }
  }
}

.main {
  min-height: 80vh;
  margin-top: -$navigationHeight;
  word-break: break-word;
  @media screen and (max-width: 30em) {
    margin-top: 0;
  }
}

.home {
  @media screen and (max-width: 30em) {
    .main {
      margin-top: -$navigationHeight;
    }
  }
  .navigation {
    opacity: 0;
    &.js-is-sticky--change {
      opacity: 1;
    }
  }

  .hero {
    height: 80vmin;
    overflow: hidden;
    @media screen and (max-width: 30em) {
      height: auto;
      background-image: none;
    }

    .hero-screenshots {
      top: 0;
      right: 0;
      width: 100%;
      height: 80vmin;
      pointer-events: none;
      img {
        position: absolute;
        opacity: 0;
        right: 0;
        transition: opacity .5s ease-in-out, transform .5s ease-in-out;
        box-shadow: 0 0 1rem rgba(0,0,0,.4);
        &.loaded {
          opacity: 1;
        }
      }
      .search {
        width: 50vmax;
        height: calc(50vmax / 1.635);
        transform: translate(50vmax, 5vh);
        &.loaded {
          transform: translate(100px, 8vh);
        }
      }
      .playlist {
        width: 50vmax;
        height: calc(50vmax / 1.635);
        transform: translate(50vmax, 15vh);
        &.loaded {
          transform: translate(0, 18vh);
        }
      }
      .compact {
        width: 200px;
        height: calc(200px / 0.535);
        transform: translate(300px, 22vh);
        &.loaded {
          transform: translate(0, 22vh);
        }
      }
    }
  }
}

.album-bar {
  height: 12rem;
  @media screen and (max-width: 30em) {
    height: 6rem;
  }
  .album {
    &.loaded {
      img {
        opacity: 1;
      }
    }
    img {
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
  }
}

.blog-post,
.page-content {
  ul, ol {
    line-height: 1.5;
  }
  img {
    padding: 2rem 0;
  }
  pre {
    padding: 2rem;
    margin: 2rem 0;
  }
}
