html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  min-height: 100%;
}

.navigation {
  height: 3rem;
  line-height: 3rem;
  transition: background-color .2s ease-in-out, opacity .2s ease-in-out;
}

.home .navigation {
  opacity: 0;
}

.home .navigation.js-is-sticky--change {
  opacity: 1;
}

.navigation.js-is-sticky--change {
  background-color: #333;
  color: white;
  z-index: 1000;
}

.navigation.js-is-sticky--change a {
  transition: color .2s ease-in-out;
  color: white;
}

.main {
  min-height: 80vh;
  margin-top: -3rem;
  word-break: break-word;
}

.hero {
  height: 80vmin;
  overflow: hidden;
}

.hero-screenshots {
  top: 0;
  right: 0;
  width: 100%;
  height: 80vmin;
  pointer-events: none;
}

.hero-screenshots img {
  position: absolute;
  opacity: 0;
  right: 0;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  box-shadow: 0 0 1rem rgba(0,0,0,.4);
}

.hero-screenshots img.loaded {
  opacity: 1;
}

/* ratio: 1.635 */
.hero-screenshots .search {
  width: 50vmax;
  height: calc(50vmax / 1.635);
  transform: translate(50vmax, 5vh);
}

.hero-screenshots .search.loaded {
  transform: translate(100px, 8vh);
}

.hero-screenshots .playlist {
  width: 50vmax;
  height: calc(50vmax / 1.635);
  transform: translate(50vmax, 15vh);
}

.hero-screenshots .playlist.loaded {
  transform: translate(0, 18vh);
}

/* ratio: 0.535 */
.hero-screenshots .compact {
  width: 200px;
  height: calc(200px / 0.535);
  transform: translate(300px, 22vh);
}

.hero-screenshots .compact.loaded {
  transform: translate(0, 22vh);
}

.album-bar {
  height: 12rem;
}

@media screen and (max-width: 30em) {
  .navigation {
    font-size: .9rem;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    justify-content: space-between;
  }
  .hero {
    height: auto;
    background-image: none;
  }
  .album-bar {
    height: 6rem;
  }
  .home .main {
    margin-top: -3rem;
  }
  .main {
    margin-top: 0;
  }
}

.album-bar .album img {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.album-bar .album.loaded img {
  opacity: 1;
}

.blog-post ul,
.page-content ul,
.blog-post ol,
.page-content ol {
  line-height: 1.5;
}

.blog-post img,
.page-content img {
  padding: 2rem 0;
}

.blog-post pre,
.page-content pre {
  padding: 2rem;
  margin: 2rem 0;
}
