@import "../../../styles/variables";
@import "../../../styles/mixins";

.album-view {
  display: flex;
  margin-bottom: $mainUnit * 3;
  .album-aside {
    width: $albumCoverWidth;
    .album-cover {
      @include albumCover($albumCoverWidth);
      margin: 0 0 $mainUnit * 0.5 0;
      &:hover {
        @include playOverlay('../../../static/icons/album/play.svg', 33%);
      }
    }
    .album-actions {
      text-align: center;
      button {
        margin-bottom: 1.6rem;
      }
    }
  }
  .album-content {
    padding-left: $mainUnit;
    flex: 1;
    h2 {
      margin: 0;
      font-size: 3.2rem;
      line-height: 5rem;
      color: $highlightColor;
      font-weight: bold;
      letter-spacing: .01em;
    }
    h3 {
      font-size: 1.6rem;
      letter-spacing: 0;
      height: 2.4rem;
      line-height: 2.4rem;
    }
    .album-type {
      @include albumTypeColor();
    }
  }
}
