{% extends "base.html" %}

{% block meta %}
  {% block meta_basic %}
    <meta name="description" content="{{ t('meta.description') }}">
    <meta name="keywords" content="{{ t('meta.keywords') }}">
  {% endblock %}
    <meta property="og:site_name" content="{{ t('meta.title') }}">
    <meta property="og:url" content="{{ absoluteURL(page.path) }}">
    <meta property="og:title" content="{{ t('meta.title') }} | {{ title }}">
    <meta property="og:image" content="{{ asset('images/screenshots/playlist.png') }}">
  {% block meta_og %}
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ t('meta.description') }}">
  {% endblock %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ absoluteURL('') }}">
    <meta name="twitter:creator" content="{{ config.twitter }}">
    <meta name="twitter:url" content="{{ absoluteURL(page.path) }}">
    <meta name="twitter:title" content="{{ t('meta.title') }} | {{ title }}">
    <meta property="twitter:image:src" content="{{ asset('images/screenshots/playlist.png') }}">
  {% block meta_twitter %}
    <meta name="twitter:description" content="{{ t('meta.description') }}">
  {% endblock %}
{% endblock %}

{% block layout %}
  {% block navigation %}{% include '_includes/navigation.html' %}{% endblock %}
  <main class="main w-100">
  {% block data %}{% endblock %}
  {% block body %}{% endblock %}
  </main>
  {% block footer %}{% include '_includes/footer.html' %}{% endblock %}
{% endblock %}
