.EditArtistView {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: black;

  h2,
  h3 {
    user-select: none;
  }
}

.label {
  flex: 1;

  &.vertical {
    .input {
      width: 100%;
    }
  }
}

.placeholder {
  font-size: 0.8rem;
  color: var(--secondary-color);
  line-height: 1.5rem;
}

.lookupView {
  flex: 1;
}
