@import "../../styles/variables";
@import "../../styles/mixins";

$arrowSize: .8rem;

.action-dropdown {
  position: relative;
  z-index: 1010;
  & &-trigger {
    font-size: 1rem;
    width: var(--section-gutter);
  }
  & &-menu {
    position: absolute;
    top: var(--section-gutter);
    left: 0;
    margin: 0;
    padding: 0;
    line-height: $dropDownActionHeight;
    list-style: none;
    font-size: .8rem;
    width: calc(3 * var(--section-gutter));
    transform: translateX(calc(-1 * var(--section-gutter)));
    border-radius: .5rem;
    background-color: $backgroundDarkColor;
    box-shadow: 0 0 3px rgba($lightColor, 0.1);
    &:before {
      content: '';
      border: inset $arrowSize;
      display: block;
      height: 0;
      width: 0;
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $backgroundDarkColor rgba(0, 0, 0, 0);
      border-bottom-style: solid;
      position: absolute;
      top: -2 * $arrowSize;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
    }
  }
  & &-item {
    border-bottom: 1px solid rgba($lightColor, .2);
    padding: 0 1rem;
    color: $lightColor;
    &:last-child {
      border-bottom: none;
    }
    &:focus,
    &:hover {
      text-decoration: underline;
    }
    .action-dropdown-item-icon {
      margin-right: .5rem;
    }
  }
}
