@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.tracklist-view {
  &:not(.not-playable) {
    ol {
      > li {
        &:hover {
          background-color: $backgroundLightColor;
          transition: background-color .1s ease-in-out;
        }
        &.is-current,
        &.ready:hover {
          .playback-info {
            display: inline-block;
          }
          .track-number {
            display: none;
          }
        }
      }
    }
  }
  ol {
    @include monospace();
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: $tracklistMaxWidth;
    > li {
      margin: 1rem 0;
      line-height: 1.5rem;
      display: flex;
      width: 100%;
      user-select: text;
      > * {
        user-select: text;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        &, &.not-ready {
          margin-bottom: 0;
        }
      }
      &.not-ready {
        color: transparent;
        height: 1.5rem;
        margin: 1rem 0;
        &:first-child {
          margin-top: 0;
        }
      }
      &.is-current,
      &.is-current .artist {
        color: $mainColor;
      }
      .playback-info,
      .track-number {
        width: 1.5rem;
        margin-right: 1rem;
      }
      .playback-info {
        display: none;
      }
      .track-number {
        &:after {
          content: '.'
        }
        &.hidden {
          visibility: hidden;
        }
      }
      .track-artist {
        color: $highlightColor;
        &:hover {
          text-decoration: underline;
        }
      }
      .track-duration {
        margin-left: auto;
      }
    }
  }
}
