@import "../../variables";

.result-list {
	list-style: none;
  overflow: auto;
	
	&-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
	.result-list-item {
		align-items: center;
		&:hover {
			.title {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		> span {
			display: inline-block;
		}
		.year {
			width: 8 * 1.6rem;
			text-align: center;
		}
		.artist {
			min-width: 12 * 1.6rem;
			color: $highlightColor;
			padding-right: 2rem;
		}
		.tag {
			color: $highlightColor;
			font-size: 1.2rem;
			border-radius: .25rem;
			text-align: center;
			width: 8 * 1.6rem;
			&-album {
				background-color: $albumColor;
			}
			&-ep {
				background-color: $epColor;
			}
			&-single {
				background-color: $singleColor;
			}
			&-compilation {
				background-color: $compilationColor;
			}
			&-remix {
				background-color: $remixColor;
			}
			&-bootleg {
				background-color: $bootlegColor;
			}
			&-various {
				background-color: $variousColor;
			}
			&-soundtrack {
				background-color: $soundtrackColor;
			}
		}
	}

}
