.button {
  appearance: none;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.1rem;
  transition:
    scale 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  &:hover {
    scale: 1.3;
    opacity: 0.9;
  }
}
