@import "../../variables";

.sidebar {
  background-color: $backgroundLightColor;
  height: 100%;
  overflow: scroll;
  .sidebar-header,
  .sidebar-footer {
    padding: $gutterBig;
    .button {
      width: 100%;
      margin: 0 0 1.6rem 0;
      padding: 0;
    }
  }
}
