@import "../../../styles/variables";
@import "../../../styles/mixins";

.album-detail-view {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  @media (max-width: $miniWindowThreshold) {
    background-color: transparent;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  &:hover {
    .album-header {
      .album-actions {
        visibility: visible;
      }
    }
  }
  &:not(.is-current) {
    .album-cover {
      @include playOverlay(
        $iconUrl: '../../../static/icons/album/play.svg',
        $bgSize: 33%
      );
    }
  }
  .album-header {
    padding: calc(var(--section-gutter) * .5);
    background-color: rgba($backgroundDarkColor, .4);
    display: flex;
    transition: background-color .3s ease-in-out;
    .album-cover-wrapper {
      width: $albumDetailCoverWidth;
      margin-right: calc(var(--section-gutter) * .5);
      @media (max-width: $miniWindowThreshold) {
        width: $albumDetailCoverWidth * .5;
      }
      .album-cover {
        @include albumCover($albumDetailCoverWidth);
        @include droppable();
        @media (max-width: $miniWindowThreshold) {
          @include albumCover($albumDetailCoverWidth * .5);
        }
      }
    }
    @media (max-width: $smallWindowThreshold) {
      width: 100%;
      padding-bottom: calc(var(--section-gutter) * .5);
    }
    .album-info-wrapper {
      flex: 1;
      h2 {
        margin: calc(var(--section-gutter) * 0.5) 0 0 0;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: $highlightColor;
        font-weight: bold;
        letter-spacing: .01em;
        transition: color .3s ease-in-out;
        @media (max-width: $miniWindowThreshold) {
          font-size: 1.2rem;
          line-height: 1.5rem;
          .button-album-actions {
            height: auto;
            line-height: 1;
          }
        }
      }
      .button-album-actions {
        width: 2rem;
        font-size: 1rem;
      }
      .album-info {
        margin: 0;
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0;
        font-weight: normal;
        @media (max-width: $miniWindowThreshold) {
          font-size: 1rem;
          line-height: 1.5rem;
        }
        .album-year {
          @include monospace();
          margin-right: .25rem;
          &:after {
            content: '·';
            padding-left: .25rem;
          }
        }
        .album-artist {
          cursor: pointer;
          color: $lightColor;
          &.loading {
            text-decoration: none;
            &:after {
              content: '…';
            }
          }
        }
      }
    }
  }

  &.is-current {
    @media (min-width: $miniWindowThreshold + 1) {
      background-color: rgba($mainColor, .2);
      transition: background-color .3s ease-in-out;
    }
  }

  .album-content {
    flex: 1;
    display: flex;
    overflow: auto;
    padding: calc(var(--section-gutter) / 3 * 2);
    background-color: rgba($backgroundDarkColor, .7);
    @media (max-width: $smallWindowThreshold) {
      padding-top: calc(var(--section-gutter) * .5);
      padding-left: var(--section-gutter);
    }
    @media (max-width: $miniWindowThreshold) {
      background-color: transparent;
    }
    .tracklist-view {
      flex: 1;
      display: flex;
      min-height: min-content;
      ol {
        flex: 1;
      }
    }
  }
}
