@import "../../../styles/variables";
@import "../../../styles/mixins";

.artist-grid-wrapper {
  // viewport - alphabet - header - player
  height: calc(100vh - #{$mainUnit} - #{$headerHeight} - #{$playerHeight});
  padding: 0;
}

.artist-grid {
  .artist-grid-row {
    @include clearFix();
    .artist-list-tile {
      float: left;
      padding: 1rem;
      .artist-list-item {
        display: flex;
        flex-direction: column;
        background-color: rgba($backgroundDarkColor, .4);
        border-radius: .5rem;
        border: 1px solid rgba($highlightColor, .1);
        color: $lightColor;
        font-size: .9rem;
        &.drag-is-over {
          &.drag-can-drop {
            .artist-picture-wrapper {
              .artist-picture {
                border: 1px solid $mainColor;
              }
            }
          }
        }
        .artist-picture-wrapper {
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          border-top-left-radius: .25rem;
          border-top-right-radius: .25rem;
          background-color: $backgroundDarkColor;
          .artist-picture {
            display: block;
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            background-position: center;
            background-size: cover;
            opacity: 0;
            transition: opacity .5s ease-in-out;
            &:after {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: rgba(white, .1);
              pointer-events: none;
              opacity: 0;
              transition: opacity .2s ease-in-out;
            }
          }
        }
        .artist-name {
          @include ellipsis(100%);
          width: 100%;
          padding: 1rem;
          letter-spacing: .01rem;
        }
        &.loaded {
          .artist-picture-wrapper {
            .artist-picture {
              opacity: 1;
            }
          }
        }
        &:hover {
          transition: background-color .2s ease-in-out;
          background-color: $backgroundDarkColor;
          .artist-name {
            text-decoration: underline;
          }
          .artist-picture-wrapper {
            .artist-picture {
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
