@import "../../styles/variables";
@import "../../styles/mixins";

.library {
  padding: var(--section-gutter) 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  &.drag-is-over {
    &.drag-can-drop {
      &:after {
        @include monospace();
        content: 'Drop Folders';
        color: $mainColor;
        font-size: 8vw;
        line-height: 15vw;
        background-color: rgba(black, .8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 0 2px $mainColor;
      }
    }
  }

  .button-add-album {
    position: absolute;
    top: var(--section-gutter);
    right: var(--section-gutter);
    padding: 0 1rem;
    @media (max-width: $miniWindowThreshold) {
      display: none;
    }
  }

  h1 {
    margin: 0 0 $mainUnit 0;
    line-height: $mainUnit;
    color: $highlightColor;
  }

  .library-latest-albums {
    margin-bottom: $mainUnit;
    padding: 0 var(--section-gutter);
    position: relative;
    &.drag-is-over {
      &.drag-can-drop {
        &:after {
          @include monospace();
          content: 'Drop Folders';
          color: $mainColor;
          font-size: 8vw;
          line-height: 15vw;
          background-color: rgba(black, .8);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1000;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: inset 0 0 0 2px $mainColor;
        }
      }
    }
  }

  .library-latest-albums-empty-placeholder {
    @include emptyComponent();
  }
}
