@import "../../styles/variables";
@import "../../styles/mixins";

.library {
  padding: var(--section-gutter);
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  &.drag-is-over {
    &.drag-can-drop {
      &:after {
        content: 'Drop Folders';
        font-family: 'Fira Mono', monospace;
        color: $mainColor;
        font-size: 8vw;
        line-height: 15vw;
        background-color: rgba(black, .8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 0 2px $mainColor;
      }
    }
  }
  h1 {
    margin: 0 0 $mainUnit 0;
    line-height: $mainUnit;
    color: $highlightColor;
  }
  .button-add-album {
    position: fixed;
    padding: 0 1rem;
    top: var(--section-gutter);
    right: var(--section-gutter);
    @media (max-width: $miniWindowThreshold) {
      display: none;
    }
  }
  .library-empty-placeholder {
    @include emptyComponent();
  }
}
