@import "../../styles/variables";
@import "../../styles/mixins";

.library {
  padding: var(--section-gutter);
  height: 100%;
  width: 100%;
  overflow: auto;
  h1 {
    margin: 0 0 $mainUnit 0;
    line-height: $mainUnit;
    color: $highlightColor;
  }
  .button-add-album {
    position: fixed;
    padding: 0 1rem;
    top: var(--section-gutter);
    right: var(--section-gutter);
    @media (max-width: $miniWindowThreshold) {
      display: none;
    }
  }
  .library-empty-placeholder {
    @include emptyComponent();
  }
}
