@import "../../../../variables";
@import "../../../../mixins";

.album-cover {
  margin: 0 0 $gutterBig * 0.5 0;
  background: radial-gradient(transparent 0%, transparent 20%, $backgroundLightColor 0%, $backgroundLightColor 70%, transparent 70%, transparent 100%);
  width: $albumCoverWidth;
  height: $albumCoverWidth;
  > img {
    width: $albumCoverWidth;
    height: $albumCoverWidth;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    background-color: $backgroundLightColor;
  }
  &.loaded > img{
    opacity: 1;
  }
}
