@import "../../../styles/variables";
@import "../../../styles/mixins";

.compact-album-view {
  display: flex;
	align-items: center;
	padding: .5rem 0 .5rem 2rem;
  position: relative;
  border: 2px solid transparent;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
  &:before {
    content: '⋮';
    cursor: move;
    position: absolute;
    top: .5rem;
    left: 0rem;
    line-height: $albumCoverCompactWidth;
    height: $albumCoverCompactWidth;
    vertical-align: middle;
    font-size: 3rem;
    color: $backgroundLightColor;
    transition: color .3s ease-in-out;
  }
  &:hover {
    background-color: $backgroundLightColor;
    &:before {
      color: $highlightColor;
    }
    .album-cover {
      @include albumCover($albumCoverCompactWidth, $backgroundColor);
      @include playOverlay('../../../static/icons/album/play.svg');
    }
  }
  &.drag-is-dragging {
    opacity: 0;
  }
  &.is-current {
    border: 2px solid $mainColor;
    border-radius: .5rem;
  }
  .album-cover {
    @include albumCover($albumCoverCompactWidth);
  }
  .album-content {
    margin: 0 0 0 1.6rem;
    display: flex;
    flex-direction: column;
    .title {
      font-weight: bold;
      color: $highlightColor;
      font-size: 1.2rem;
      line-height: 2rem;
    }
    .album-type {
      @include albumTypeColor();
    }
  }
}
