@import "../../../styles/variables";
@import "../../../styles/mixins";

.compact-album-view {
	padding: 1rem 2rem;
  position: relative;
  transition: background-color .3s ease-in-out;
  border-radius: 1rem;
  background-color: rgba($backgroundDarkColor, .4);
  margin: 0 var(--section-gutter) 1rem var(--section-gutter);
  max-width: 100%;
  @media (min-width: $wideWindowThreshold) {
		width: $albumCompactMaxWidth;
	}

  .album-inner-wrapper {
    display: flex;
    align-items: center;
  }

  &.sortable .album-inner-wrapper::before {
    content: '⋮';
    cursor: move;
    position: absolute;
    top: 1rem;
    left: .5rem;
    line-height: $albumCoverCompactWidth;
    height: $albumCoverCompactWidth;
    vertical-align: middle;
    font-size: 3rem;
    color: $backgroundLightColor;
    transition: color .3s ease-in-out;
  }

  &:not(.is-current):hover .album-inner-wrapper{
    &:before {
      color: $highlightColor;
    }
  }

  &:not(.is-current):hover {
    background-color: $backgroundLightColor;
    .album-cover {
      @include albumCover($albumCoverCompactWidth, $backgroundColor);
      @include playOverlay('../../../static/icons/album/play.svg');
    }
  }
  &.drag-is-dragging {
    background-color: rgba($mainColor, .3);
    .album-inner-wrapper {
      opacity: 0;
    }
  }
  &.is-current {
    background-color: rgba($mainColor, .3);
  }
  .album-cover {
    @include albumCover($albumCoverCompactWidth);
  }
  .album-content {
    margin: 0 0 0 1.6rem;
    display: flex;
    flex-direction: column;
    .title {
      font-weight: bold;
      color: $highlightColor;
      font-size: 1.2rem;
      line-height: 2rem;
      .icon {
        margin-left: .5rem;
      }
    }
    .album-type {
      @include albumTypeColor();
    }
  }
  .album-actions {
    flex: 0 0 25%;
    margin-left: auto;
    text-align: right;
  }
}
