@import "../../../styles/variables";
@import "../../../styles/mixins";

.search-bar {
	margin: 0;
	padding: 0;
	display: flex;
	.search-input,
	.button {
		margin: 0;
	}
	.search-input {
		@include input();
		border-radius: .4rem 0 0 .4rem;
		display: flex;
		flex-grow: 1;
		border-right: none;
	}
	.button {
		transition: background-color .2s ease-in-out;
		border-radius: 0 .4rem .4rem 0;
		border-left: none;
		width: calc(var(--section-gutter) * 11/3);
	}
}
