@import "../../../styles/variables";
@import "../../../styles/mixins";

$labelHeight: 2rem;

.import-view {
  h2 {
    margin: 0;
    line-height: $mainUnit;
    color: $highlightColor;
    display: flex;
    justify-content: space-between;
    .folder-name {
      flex: 1;
      font-size: $baseFontSize;
      color: $lightColor;
      margin: 0 0 0 1rem;
      line-height: $mainUnit;
      border-radius: .25rem;
      background-color: $backgroundDarkColor;
      padding: 0 1rem;
      overflow-x: scroll;
      code {
        user-select: text;
      }
    }
  }
}
