@import "../../../styles/variables";
@import "../../../styles/mixins";

.playlist-list {
  list-style: none;
  padding: 0;
  margin: 0;
  .playlist-list-item {
    height: $mainUnit;
    line-height: $mainUnit;
    vertical-align: middle;
    margin: 0;
    display: flex;
    &.drag-is-over {
      background-color: $highlightColor;
      .playlist-list-item-link {
        color: $darkColor;
      }
    }
    &.is-new {
      .playlist-list-item-link {
        font-weight: bold;
        color: $highlightColor;
      }
    }
    &.is-current {
      .playlist-list-item-link {
        font-weight: bold;
      }
    }
    &.is-playing {
      .playlist-list-item-link {
        color: $mainColor;
      }
    }
    &:hover {
      .play-button .play-button-icon {
        display: inline;
      }
    }
    .playlist-list-item-link {
      display: block;
      flex: 1;
      padding: 0 0 0 $mainUnit;
      color: $lightColor;
      transition: color .3s ease-in-out;
      @include ellipsis();
      &:hover {
        text-decoration: underline;
      }
      .playlist-icon{
        margin-right: 1rem;
      }
    }
    .play-button {
      flex: 0 0 $mainUnit;
      background: none;
      outline: none;
      border: none;
      font-size: 1.2rem;
      .play-button-icon {
        display: none;
        color: $mainColor;
      }
    }
  }
}
