@import "../../../../variables";
@import "../../../../mixins";

.tracklist-view {
  ol {
    margin: 0;
    list-style: none;
    font-family: 'Fira Mono', monospace;
    > li {
      margin: 1rem 0;
      line-height: 2.5rem;
      display: flex;
      transition: background-color .5s ease-in, .5s ease-in;
      width: 100%;
      &:first-child {
        margin-top: 0;
      }
      &.not-ready {
        color: transparent;
        height: 2.5rem;
      }
      .duration {
        margin-left: auto;
      }
    }
  }
}
