@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.tracklist-view {
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Fira Mono', monospace;
    max-width: $tracklistMaxWidth;
    > li {
      margin: 1rem 0;
      line-height: 1.5rem;
      display: flex;
      transition: background-color .3s ease-in, .3s ease-in;
      width: 100%;
      &:first-child {
        margin-top: 0;
      }
      &.not-ready {
        color: transparent;
        height: 1.5rem;
        margin: 1rem 0;
      }
      &:hover {
        .title {
          text-decoration: underline;
        }
      }
      &.is-current,
      &.ready:hover {
        .playback-info {
          display: inline-block;
        }
        .track-number {
          display: none;
        }
      }
      &.is-current {
        color: $mainColor;
      }
      .playback-info,
      .track-number {
        width: 1.5rem;
        margin-right: 1rem;
      }
      .playback-info {
        display: none;
      }
      .track-number {
        &:after {
          content: '.'
        }
      }
      .artist {
        color: $highlightColor;
        margin-right: 1rem;
      }
      .duration {
        margin-left: auto;
      }
    }
  }
}
