@import "../../styles/variables";
@import "../../styles/common";

.app {
  height: 100vh;
  .search-container,
  .main-container {
    height: calc(100vh - #{$playerHeight});
		display: flex;
    @media (max-width: $miniWindowThreshold) {
			height: calc(100vh - #{$miniPlayerHeight});
		}
  }

	.sidebar-wrapper {
    width: $sidebarWidth;
		display: flex;
		height: 100%;
		@media (max-width: $smallWindowThreshold) {
			width: $smallSidebarWidth;
		}
		@media (max-width: $miniWindowThreshold) {
			display: none;
		}
  }

  .main-wrapper {
		display: flex;
		flex: 1;
		overflow: scroll;
  }

  .search-container-enter {
    opacity: 0;
  }

  .search-container-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  .search-container-exit {
    opacity: 1;
  }

  .search-container-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
}
