@import "../../styles/variables";
@import '~@csstools/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('../../static/inter-ui/inter-ui.css');
@import url('../../static/fira-mono/fira-mono.css');

body {
	user-select: none;
	background-color: $backgroundColor;
	color: $lightColor;
	overflow: hidden;
}

*,
*::after,
*::before {
	-webkit-user-select: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
	outline: none;
}

body,
html {
	font-family: 'Inter UI', sans-serif;
	font-feature-settings: 'calt' 1, 'ss02' 1;
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-size: $baseFontSize;
}

h1, h2, h3, .header-like {
	font-family: 'Nunito', sans-serif;
}

.highlight {
	color: $highlightColor;
}

a {
	text-decoration: none;
	color: $mainColor;
}

.app {
  height: 100vh;
  .search-container,
  .main-container {
    height: calc(100vh - #{$playerHeight});
		display: flex;
  }

	.sidebar-wrapper {
    width: $sidebarWidth;
		display: flex;
		height: 100%;
  }

  .main-wrapper {
		display: flex;
		flex: 1;
		overflow: scroll;
  }

  .search-container {
    background-color: $backgroundColor;
    z-index:1000;
    width: calc(100vw - #{$sidebarWidth});
    margin-left: $sidebarWidth;
    position: fixed;
    top: 0;
  }

  .search-container-enter {
    opacity: 0;
  }

  .search-container-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  .search-container-exit {
    opacity: 1;
  }

  .search-container-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
}

.button {
	background-color: $mainColor;
  border: 0.1rem solid $mainColor;
  border-radius: .4rem;
  color: $highlightColor;
	padding: 0;
  cursor: pointer;
  display: inline-block;
  font-size: .75rem;
	letter-spacing: .1rem;
  font-weight: 700;
  height: $mainUnit;
  line-height: $mainUnit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
	&:hover {
		background-color: $hoverColor;
		border-color: $hoverColor;
	}
	&-outline {
		background-color: transparent;
		color: $mainColor;
		&:hover {
			color: $hoverColor;
			border-color: $hoverColor;
			background-color: transparent;
		}
	}
	.button-icon {
		margin-right: 1rem;
	}
	.button-text {

	}
}

input[type=text],
input[type=search] {
	height: $mainUnit;
  line-height: $mainUnit;
	-webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  padding: 0 1.0rem;
  width: 100%;
}
