@import "../../styles/variables";
@import "../../styles/common";

.is-library-scrolling {
  transition: opacity .3s ease-in-out;
	.disappear-on-scrolling {
		opacity: 0;
	}
}

.app {
  height: 100vh;
  .search-container,
  .main-container {
    height: calc(100vh - #{$headerHeight} - #{$playerHeight});
		display: flex;
    @media (max-width: $miniWindowThreshold) {
			height: calc(100vh - #{$headerHeight} - #{$miniPlayerHeight});
		}
  }

  .main-container {
    @media (max-width: $miniWindowThreshold) {
      flex-direction: column;
		}
  }

	.sidebar-wrapper {
    width: var(--sidebar-width);
		display: flex;
		height: 100%;
    @media (max-width: $smallWindowThreshold) {
      display:none;
    }
  }

  .main-wrapper {
		display: flex;
		flex: 1;
		overflow: scroll;
  }

  .search-container-enter {
    opacity: 0;
  }

  .search-container-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  .search-container-exit {
    opacity: 1;
  }

  .search-container-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
}
