.button {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  padding: 0;
  color: var(--primary-color);
  background-color: transparent;
  border-radius: .15rem;
  transition: color .3s ease-in-out;

  &:hover {
    background-color: var(--tertiary-color);
  }

  &:focus {
    outline-color: var(--accent-color);
  }

  &.useDarkText {
    color: black;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}