.button {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  padding: 0;
  color: var(--primary-color);
  background-color: transparent;
  border-radius: 0.15rem;
  transition: color 0.3s ease-in-out;

  &:hover {
    background-color: var(--tertiary-color);
  }

  &:focus {
    outline-color: var(--accent-color);
  }

  &.useDarkText {
    color: black;

    &:hover {
      background-color: var(--secondary-color);
    }
  }

  &.active {
    color: var(--accent-color);
  }
}

.CornerActionButton {
  --button-size: 1.5rem;
  position: absolute;
  top: calc(-1 * var(--button-size) / 2);
  right: calc(-1 * var(--button-size) / 2);
  width: var(--button-size);
  height: var(--button-size);
  font-size: calc(var(--button-size));
  background-color: transparent;
  border: none;
  appearance: none;
  z-index: 2;
  color: var(--accent-color);
  transition:
    scale 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  svg {
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
  }

  &:hover {
    scale: 1.1;
    opacity: 0.9;
  }

  &.mini {
    --button-size: 1rem;
  }
}
