:root {
  --primary-color: #ffffff;
  --secondary-color: #b3b3b3;
  --tertiary-color: #4f4d4d;
  --background-color: #121212;
  --accent-color: #4361ee;
  --accent-color-light: #627be9;
  --accent-color-dark: #183ee6;
  --selected-no-focus-color: #4f4d4d;
  --sidebar-background-color: #232323;
  --sidebar-secondary-color: #7d7d7d;
  --sidebar-nav-button-background-color: #4f4d4d;
  --release-group-background-color: #1f1f1f;
  --release-view-background-color: #18181A;
  --release-view-background-color-light: #363636;
  --header-height: 3.5rem;
  --sidebar-width: 24rem;
  --navbar-width: 12rem;
  --release-group-height-small: 4rem;
  --release-group-height: 6rem;
  --release-tracklist-single-cover-size: 9.5rem;
  --release-tracklist-list-cover-size: 8rem;
  --multiple-covers-gap: .25rem;
  --search-results-size: 4rem;
  --tracklist-entry-alternate-background-color: #1e1d1d;
  --search-results-background-color: #34363b;
  --search-results-background-color-light: #61646d;
  --neutral-border-color: rgba(120, 120, 120, 0.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
  display: flex;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline-color: var(--accent-color);
  }
}

#root {
  width: 100vw;
  display: flex;
}

.drag {
  position: fixed;
  height: 1rem;
  top: 0;
  left: 0;
  right: 0;
  -webkit-app-region: drag;
}