.main {
  flex: 1;
  display: flex;
}

.page {
  display: flex;
  flex: 1;
}

.sidebar {
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-background-color);
  border-right: .5px solid var(--neutral-border-color);
}

.isDetailPage .toggleSidebarButton {
  left: calc(var(--release-tracklist-single-cover-size) + .5rem);
}

.showSidebar.isDetailPage .toggleSidebarButton {
  left: calc(var(--release-tracklist-single-cover-size) + var(--sidebar-width) + .5rem);
}

.toggleSidebarButton {
  position: fixed;
  top: .75rem;
  left: 5rem;

  &.showSidebar {
    left: calc(var(--sidebar-width) + .5rem);
  }
}