@import './variables';

@mixin input() {
  color: $clearColor;
  transition: background-color .2s ease-in-out;
  border-radius: .4rem;
  border-color: $mainColor;
  &:focus {
    background-color: lighten($backgroundColor, 5%);
  }
}

@mixin albumTypeBackground() {
  &-album {
    background-color: $albumColor;
  }
  &-ep {
    background-color: $epColor;
  }
  &-single {
    background-color: $singleColor;
  }
  &-compilation {
    background-color: $compilationColor;
  }
  &-remix {
    background-color: $remixColor;
  }
  &-bootleg {
    background-color: $bootlegColor;
  }
  &-various {
    background-color: $variousColor;
  }
  &-soundtrack {
    background-color: $soundtrackColor;
  }
  &-tribute {
    background-color: $tributeColor;
  }
}

@mixin albumTypeColor() {
  &-album {
    color: $albumColor;
  }
  &-ep {
    color: $epColor;
  }
  &-single {
    color: $singleColor;
  }
  &-compilation {
    color: $compilationColor;
  }
  &-remix {
    color: $remixColor;
  }
  &-bootleg {
    color: $bootlegColor;
  }
  &-various {
    color: $variousColor;
  }
  &-soundtrack {
    color: $soundtrackColor;
  }
  &-tribute {
    color: $tributeColor;
  }
}

@mixin albumCover($width) {
  margin: 0;
  background: radial-gradient(transparent 0%, transparent 20%, $backgroundLightColor 0%, $backgroundLightColor 70%, transparent 70%, transparent 100%);
  width: $width;
  height: $width;
  > img {
    width: $width;
    height: $width;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    background-color: $backgroundLightColor;
    &.empty {
      display: none;
    }
  }
  &.loaded > img{
    opacity: 1;
  }
}
