@import './variables';

@mixin input() {
  color: $clearColor;
  transition: background-color .2s ease-in-out;
  border-radius: .4rem;
  border-color: $mainColor;
  &:focus {
    background-color: lighten($backgroundColor, 5%);
  }
}
