@import "variables";

@import url('./static/inter-ui/inter-ui.css');
@import '~milligram/dist/milligram.css';

body {
	user-select: none;
	background-color: $backgroundColor;
	color: $clearColor;
}

*,
*::after,
*::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

body,
html,
.app {
	font-family: 'Inter UI', sans-serif;
	font-feature-settings: 'calt' 1, 'ss02' 1;
	height: 100%;
	width: 100%;
	margin: 0;
}

.search-bar {
	input {
		color: $clearColor;
		transition: background-color .2s ease-in-out;
		border-radius: .4rem 0 0 .4rem;
		border-color: $mainColor;
		&:focus {
			background-color: lighten($backgroundColor, 5%);
		}
	}
	button {
		background-color: $mainColor;
		transition: background-color .2s ease-in-out;
		border-radius: 0 .4rem .4rem 0;
	}
}

.result-list {
	list-style: none;
	.result-list-item {
		align-items: center;
		&:hover {
			.title {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		> span {
			display: inline-block;
		}
		.year {
			width: 8 * 1.6rem;
			text-align: center;
		}
		.artist {
			min-width: 12 * 1.6rem;
			color: $highlightColor;
			padding-right: 2rem;
		}
		.tag {
			color: $highlightColor;
			font-size: 1.2rem;
			border-radius: .25rem;
			text-align: center;
			width: 8 * 1.6rem;
			&-album {
				background-color: $albumColor;
			}
			&-ep {
				background-color: $epColor;
			}
			&-single {
				background-color: $singleColor;
			}
			&-compilation {
				background-color: $compilationColor;
			}
			&-remix {
				background-color: $remixColor;
			}
			&-bootleg {
				background-color: $bootlegColor;
			}
			&-various {
				background-color: $variousColor;
			}
			&-soundtrack {
				background-color: $soundtrackColor;
			}
		}
	}

}
