@import "variables";

@import url('./static/inter-ui/inter-ui.css');
@import url('./static/fira-mono/fira-mono.css');
@import '~milligram/dist/milligram.css';

body {
	user-select: none;
	background-color: $backgroundColor;
	color: $clearColor;
}

*,
*::after,
*::before {
	-webkit-user-select: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

body,
html,
.app {
	font-family: 'Inter UI', sans-serif;
	font-feature-settings: 'calt' 1, 'ss02' 1;
	height: 100%;
	width: 100%;
	margin: 0;
}
