$backgroundColor: #1F1F1F;
$backgroundLightColor: #282828;
$clearColor: #aaa;
$highlightColor: #F5F5F5;
$mainColor: #9b4dca;

$albumColor: #F25774;
$epColor: #0A6ABF;
$singleColor: #038C73;
$compilationColor: #BF4904;
$bootlegColor: #BF8C2C;
$remixColor: #A31D5F;
$variousColor: #7F57FF;
$soundtrackColor: #4371E8;

$gutterBig: 3.8rem;
