$backgroundColor: #1F1F1F;
$clearColor: #aaa;
$highlightColor: #F5F5F5;
$mainColor: #9A52C8;

$albumColor: #F25774;
$epColor: #0A6ABF;
$singleColor: #038C73;
$compilationColor: #22CCF2;
$bootlegColor: #BF8C2C;
$remixColor: #F2E85E;
$variousColor: #26061E;
