$backgroundColor: #1F1F1F;
$backgroundLightColor: #282828;
$clearColor: #aaa;
$highlightColor: #F5F5F5;
$mainColor: #9b4dca;

$albumColor: #F25774;
$epColor: #0A6ABF;
$singleColor: #038C73;
$compilationColor: #BF4904;
$bootlegColor: #BF8C2C;
$remixColor: #A31D5F;
$variousColor: #7F57FF;
$soundtrackColor: #4371E8;
$tributeColor: #A45E11;

$mainUnit: 3.8rem;

$sidebarWidth: 300px;
$searchButtonWidth: 150px;

$albumCoverWidth: 19rem;
$albumCoverCompactWidth: 5rem;
$tracklistMaxWidth: 60rem;

$searchBarHeight: 11.4rem;
$playerHeight: 11.4rem;
