name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v2.1.2
      with:
        version: 12.0.0
    - run: yarn install
    - run: yarn run test
