@import "../../../styles/variables";
@import "../../../styles/mixins";

.search-bar {
	margin: 0;
	padding:
		var(--section-gutter)
		var(--section-gutter)
		calc(var(--section-gutter) / 2)
		var(--section-gutter);
	display: flex;
	@media (max-width: $miniWindowThreshold) {
		padding: var(--section-gutter);
	}
	.search-input,
	.button {
		margin: 0;
	}
	.search-input {
		@include input();
		border-radius: .4rem 0 0 .4rem;
		display: flex;
		flex-grow: 1;
	}
	.button {
		background-color: $mainColor;
		transition: background-color .2s ease-in-out;
		border-radius: 0 .4rem .4rem 0;
		width: calc(var(--section-gutter) * 11/3);
		.icon {
			display: none;
		}
		@media (max-width: $miniWindowThreshold) {
			.text {
				display: none;
			}
			.icon {
				display: inline-block;
			}
		}
	}
}
