@import "../../../styles/variables";
@import "../../../styles/mixins";

.search-bar {
	margin: 0;
	padding: $mainUnit;
	.search-input,
	button {
		margin: 0;
	}
	.search-input {
		@include input();
		border-radius: .4rem 0 0 .4rem;
		width: calc(100% - #{$searchButtonWidth});
	}
	button {
		background-color: $mainColor;
		transition: background-color .2s ease-in-out;
		border-radius: 0 .4rem .4rem 0;
		float: right;
		width: $searchButtonWidth;
	}
}
