@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.search-form {
	margin: 0;
	padding: 0;
	display: flex;
	&.has-focus {
		.button {
			background-color: lighten($backgroundColor, 5%);
		}
	}
	&.has-suggestions {
		.search-input {
			border-bottom-left-radius: 0;
		}
	}
	.search-input,
	.button {
		margin: 0;
	}
	.search-input {
		@include input();
		border-radius: .4rem 0 0 .4rem;
		display: flex;
		flex-grow: 1;
		border-right: none;
		min-width: calc(var(--section-gutter) * 4);
		@media (max-width: $smallWindowThreshold) {
			min-width: none;
		}
	}
	.button {
		transition: background-color .2s ease-in-out;
		border-radius: 0 .4rem .4rem 0;
		border-left: none;
		width: calc(var(--section-gutter) * 11/3);
		&:hover {
			color: $mainColor;
		}
	}

	.react-autosuggest__container {
		position: relative;
		z-index: 1010;

		.react-autosuggest__suggestions-container {
			position: absolute;
			top: $formMiniHeight;
			left: 0;
			right: 0;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				background-color: $backgroundColor;
				border: 1px solid $mainColor;
				border-bottom-left-radius: .5rem;
				border-bottom-right-radius: .5rem;
				max-height: 5 * $formMiniHeight;
				overflow-y: scroll;
				li {
					@include ellipsis();
					line-height: $formMiniHeight;
					font-size: .7rem;
					padding: 0 1rem;
					background-color: $darkColor;
					color: $highlightColor;
					&.react-autosuggest__suggestion--highlighted {
						color: $mainColor;
						background-color: $highlightColor;
					}
				}
			}
		}
	}

}
